<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/cgmj/game/btn_ruleTop11.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,2},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/cgmj/game/btn_ruleTop12.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,2},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/cgmj/game/btn_ruleTop21.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,76},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/cgmj/game/btn_ruleTop22.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,150},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/cgmj/game/huiIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,177},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,27}</string>
			</dict>
			<key>games/cgmj/game/jushuTextbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,79},{50,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,28}</string>
			</dict>
			<key>games/cgmj/game/menu_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,422},{88,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,37}</string>
			</dict>
			<key>games/cgmj/game/menu_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,442},{89,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,37}</string>
			</dict>
			<key>games/cgmj/game/menu_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,380},{89,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,38}</string>
			</dict>
			<key>games/cgmj/game/menu_title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,326},{90,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,38}</string>
			</dict>
			<key>games/cgmj/game/menu_title_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,420},{89,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,37}</string>
			</dict>
			<key>games/cgmj/game/surplusCardTextBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,2},{73,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,27}</string>
			</dict>
			<key>games/cgmj/game/BG20.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,133},{22,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,40}</string>
			</dict>
			<key>games/cgmj/game/shangJingHint.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,219},{74,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,103}</string>
			</dict>
			<key>games/cgmj/game/xiaJing.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,219},{74,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,103}</string>
			</dict>
			<key>games/cgmj/game/fuJing.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,219},{74,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,103}</string>
			</dict>
			<key>games/cgmj/game/baWang.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,326},{105,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,50}</string>
			</dict>
			<key>games/cgmj/game/chongGuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,326},{112,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,53}</string>
			</dict>
			<key>games/cgmj/game/cgmjShareGameName.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{568,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,213}</string>
			</dict>
			<key>games/cgmj/game/GameNameImg.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,219},{156,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_1.png</string>
			<key>realTextureFileName</key>
			<string>game_1.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>