<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/jzd/game/liandui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3860,886},{351,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/jzd/game/liandui10.png</key>
			<dict>
				<key>frame</key>
				<string>{{3855,1237},{351,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/jzd/game/liandui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3472,1426},{351,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/jzd/game/liandui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3853,1588},{351,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/jzd/game/liandui4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3421,1777},{351,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/jzd/game/liandui5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2313,1426},{351,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/jzd/game/liandui6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3418,2128},{351,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/jzd/game/liandui7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,1620},{351,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/jzd/game/liandui8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,1971},{351,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/jzd/game/liandui9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2281,1777},{351,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/jzd/game/shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{3705,826},{247,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,155}</string>
			</dict>
			<key>games/jzd/game/shunzi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2544,1414},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2838,1414},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi11.png</key>
			<dict>
				<key>frame</key>
				<string>{{3791,1939},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,1426},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,1426},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2544,1700},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2838,1700},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi16.png</key>
			<dict>
				<key>frame</key>
				<string>{{3132,1918},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi17.png</key>
			<dict>
				<key>frame</key>
				<string>{{3649,2225},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi18.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1620},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1168,1620},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1906},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1168,1906},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,1712},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1987,1712},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi23.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,2192},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1168,2192},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,2248},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,1998},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1987,1998},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2512,1986},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2806,1986},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/shunzi9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3100,2212},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/jzd/game/chuai_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{3322,874},{186,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,188}</string>
			</dict>
			<key>games/jzd/game/chuai_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{3322,1060},{186,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,188}</string>
			</dict>
			<key>games/jzd/game/chuai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3282,1696},{139,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,111}</string>
			</dict>
			<key>games/jzd/game/chuai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3652,1823},{139,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,111}</string>
			</dict>
			<key>games/jzd/game/chuai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3652,1934},{139,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,111}</string>
			</dict>
			<key>games/jzd/game/chuai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3652,2045},{139,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,111}</string>
			</dict>
			<key>games/jzd/game/chuai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3132,1714},{139,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,111}</string>
			</dict>
			<key>games/jzd/game/chuai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3271,1807},{139,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,111}</string>
			</dict>
			<key>games/jzd/game/chuai0.png</key>
			<dict>
				<key>frame</key>
				<string>{{4057,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>games/jzd/game/chi0.png</key>
			<dict>
				<key>frame</key>
				<string>{{4060,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>games/jzd/game/chi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3322,1246},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/jzd/game/chi10.png</key>
			<dict>
				<key>frame</key>
				<string>{{3322,1396},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/jzd/game/chi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3705,1073},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/jzd/game/chi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3705,1223},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/jzd/game/chi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3705,1373},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/jzd/game/chi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3703,1523},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/jzd/game/chi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3703,1673},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/jzd/game/chi7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3132,1414},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/jzd/game/chi8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3282,1546},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/jzd/game/chi9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3132,1564},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/jzd/game/three_zha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{494,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,328}</string>
			</dict>
			<key>games/jzd/game/three_zha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,540},{494,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,328}</string>
			</dict>
			<key>games/jzd/game/three_zha3.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,868},{494,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,328}</string>
			</dict>
			<key>games/jzd/game/pair5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,0},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1556,0},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2334,0},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{3112,0},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,886},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1664},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2442},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3220},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,540},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,886},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,1080},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/pair5_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2544,874},{778,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,540}</string>
			</dict>
			<key>games/jzd/game/kingzha10.png</key>
			<dict>
				<key>frame</key>
				<string>{{3890,0},{886,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{886,167}</string>
			</dict>
			<key>games/jzd/game/kingzha11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,540},{886,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{886,167}</string>
			</dict>
			<key>games/jzd/game/kingzha12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,707},{886,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{886,167}</string>
			</dict>
			<key>games/jzd/game/kingzha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3998},{79,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,270}</string>
			</dict>
			<key>games/jzd/game/kingzha3.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,3998},{79,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,270}</string>
			</dict>
			<key>games/jzd/game/kingzha4.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,868},{79,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,270}</string>
			</dict>
			<key>games/jzd/game/kingzha5.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1362},{886,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{886,167}</string>
			</dict>
			<key>games/jzd/game/kingzha6.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1362},{886,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{886,167}</string>
			</dict>
			<key>games/jzd/game/kingzha7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2652,540},{886,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{886,167}</string>
			</dict>
			<key>games/jzd/game/kingzha8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2652,707},{886,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{886,167}</string>
			</dict>
			<key>games/jzd/game/kingzha9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3538,540},{886,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{886,167}</string>
			</dict>
			<key>games/jzd/game/kingzha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3705,540},{165,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,286}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_ani_1.png</string>
			<key>realTextureFileName</key>
			<string>game_ani_1.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>