<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/jzd/cards/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,934},{87,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,109}</string>
			</dict>
			<key>games/jzd/cards/black_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,554},{41,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,739},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,562},{34,57}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,562},{34,58}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1174,487},{40,56}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,763},{33,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,562},{33,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,763},{37,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,763},{33,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,763},{35,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,763},{33,56}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,763},{35,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/black_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,763},{35,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1135},{154,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,195}</string>
			</dict>
			<key>games/jzd/cards/cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,970},{150,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,189}</string>
			</dict>
			<key>games/jzd/cards/HuaSe_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,1041},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,79}</string>
			</dict>
			<key>games/jzd/cards/HuaSe_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1210},{84,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,79}</string>
			</dict>
			<key>games/jzd/cards/HuaSe_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,1041},{79,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,79}</string>
			</dict>
			<key>games/jzd/cards/HuaSe_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,1122},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,79}</string>
			</dict>
			<key>games/jzd/cards/red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,487},{41,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,471},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,562},{34,57}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,562},{34,58}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,344},{40,56}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,562},{33,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,562},{33,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,763},{37,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,344},{33,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,763},{35,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,344},{33,56}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,562},{35,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,562},{35,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>games/jzd/cards/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1023},{87,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,109}</string>
			</dict>
			<key>games/jzd/game/bg_fram.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,798},{128,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>games/jzd/game/bg_frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1031,487},{83,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,55}</string>
			</dict>
			<key>games/jzd/game/bg_frame3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,81},{22,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,40}</string>
			</dict>
			<key>games/jzd/game/bg_frame4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,529},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>games/jzd/game/bg_frameLose.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,347},{45,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,130}</string>
			</dict>
			<key>games/jzd/game/bg_frameWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,347},{45,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,129}</string>
			</dict>
			<key>games/jzd/game/bg_tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1964},{374,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,70}</string>
			</dict>
			<key>games/jzd/game/BG5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,892},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>games/jzd/game/Button_jiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,944},{193,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,95}</string>
			</dict>
			<key>games/jzd/game/Button_Rule1N.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,800},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/jzd/game/Button_Rule1S.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,872},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/jzd/game/Button_Rule2N.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,597},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/jzd/game/Button_Rule2S.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,669},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/jzd/game/ButtonChatCommon0.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,296},{301,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>games/jzd/game/ButtonChatCommon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1987},{298,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>games/jzd/game/ButtonChatIcon51.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,741},{298,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>games/jzd/game/ButtonChatIcon52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1987},{301,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>games/jzd/game/ButtonClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,597},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>games/jzd/game/CheckBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,471},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>games/jzd/game/CheckBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,344},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>games/jzd/game/CheckBox_Gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,344},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>games/jzd/game/CheckGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,892},{39,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,42}</string>
			</dict>
			<key>games/jzd/game/Image_Clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,544},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>
			<key>games/jzd/game/Image_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,296},{1,1}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>games/jzd/game/Image_FlagHan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1276,739},{47,45}}</string>
				<key>offset</key>
				<string>{7,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>games/jzd/game/Image_FlagJiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,554},{63,41}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>games/jzd/game/Image_FlagKingB.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,689},{46,48}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>games/jzd/game/Image_FlagKingD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,689},{46,48}}</string>
				<key>offset</key>
				<string>{7,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>games/jzd/game/Image_FlagKingS.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,520},{45,48}}</string>
				<key>offset</key>
				<string>{7,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>games/jzd/game/Image_FlagLiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,544},{53,48}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>games/jzd/game/Image_FlagMing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,471},{51,42}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>games/jzd/game/Image_FlagYan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,741},{51,44}}</string>
				<key>offset</key>
				<string>{6,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>games/jzd/game/Image_Head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,798},{90,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>games/jzd/game/Image_landLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1498},{195,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,203}</string>
			</dict>
			<key>games/jzd/game/Image_MingBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,530},{62,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,65}</string>
			</dict>
			<key>games/jzd/game/Image_No2.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1696},{108,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,99}</string>
			</dict>
			<key>games/jzd/game/Image_No3.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,1947},{108,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,99}</string>
			</dict>
			<key>games/jzd/game/Image_No4.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1797},{148,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,100}</string>
			</dict>
			<key>games/jzd/game/Image_Ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1210},{68,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,78}</string>
			</dict>
			<key>games/jzd/game/Image_ResultHan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1304},{393,163}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{398,167}</string>
			</dict>
			<key>games/jzd/game/Image_ResultHan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1304},{396,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,165}</string>
			</dict>
			<key>games/jzd/game/Image_ResultHan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,1797},{394,165}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,167}</string>
			</dict>
			<key>games/jzd/game/Image_ResultHan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1135},{398,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,167}</string>
			</dict>
			<key>games/jzd/game/Image_ResultJiu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,599},{511,162}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{516,166}</string>
			</dict>
			<key>games/jzd/game/Image_ResultJiu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1306},{514,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{514,164}</string>
			</dict>
			<key>games/jzd/game/Image_ResultJiu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,399},{512,161}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{516,163}</string>
			</dict>
			<key>games/jzd/game/Image_ResultJiu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1822},{516,163}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{516,166}</string>
			</dict>
			<key>games/jzd/game/Image_ResultLiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,1},{504,169}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{509,171}</string>
			</dict>
			<key>games/jzd/game/Image_ResultLiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,174},{507,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{507,171}</string>
			</dict>
			<key>games/jzd/game/Image_ResultLiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,296},{505,169}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{509,171}</string>
			</dict>
			<key>games/jzd/game/Image_ResultLiang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1},{509,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{509,171}</string>
			</dict>
			<key>games/jzd/game/Image_ResultMing1.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,970},{504,163}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,167}</string>
			</dict>
			<key>games/jzd/game/Image_ResultMing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1306},{506,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{506,165}</string>
			</dict>
			<key>games/jzd/game/Image_ResultMing3.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,803},{505,165}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,167}</string>
			</dict>
			<key>games/jzd/game/Image_ResultMing4.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,175},{508,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,167}</string>
			</dict>
			<key>games/jzd/game/Image_ResultWin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,1122},{247,86}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,87}</string>
			</dict>
			<key>games/jzd/game/Image_ResultWin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{408,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{409,293}</string>
			</dict>
			<key>games/jzd/game/Image_ResultWin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1696},{120,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,95}</string>
			</dict>
			<key>games/jzd/game/Image_ResultWin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,1210},{87,76}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,76}</string>
			</dict>
			<key>games/jzd/game/Image_ResultYan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,172},{501,170}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{506,172}</string>
			</dict>
			<key>games/jzd/game/Image_ResultYan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,296},{504,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{504,172}</string>
			</dict>
			<key>games/jzd/game/Image_ResultYan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,802},{502,170}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{506,172}</string>
			</dict>
			<key>games/jzd/game/Image_ResultYan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1},{506,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{506,172}</string>
			</dict>
			<key>games/jzd/game/Image_ShareGiftBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,344},{73,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,41}</string>
			</dict>
			<key>games/jzd/game/Image_WaitRound1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1936,1},{396,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,84}</string>
			</dict>
			<key>games/jzd/game/Image_WaitRound2.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,399},{267,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,86}</string>
			</dict>
			<key>games/jzd/game/Image_WaitRound3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,387},{275,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,82}</string>
			</dict>
			<key>games/jzd/game/ImageTextExit.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,347},{180,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>games/jzd/game/ImageTextHan.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,1291},{212,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,215}</string>
			</dict>
			<key>games/jzd/game/ImageTextJiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,1286},{210,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,198}</string>
			</dict>
			<key>games/jzd/game/ImageTextLiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,1508},{186,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,224}</string>
			</dict>
			<key>games/jzd/game/ImageTextMing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1275},{183,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,212}</string>
			</dict>
			<key>games/jzd/game/ImageTextScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,347},{112,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,50}</string>
			</dict>
			<key>games/jzd/game/ImageTextSound.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,344},{178,52}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>games/jzd/game/ImageTextYaoFeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,487},{112,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,65}</string>
			</dict>
			<key>games/jzd/game/ImageTipsFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,1041},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>games/jzd/game/ImageTipsHan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,1201},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>games/jzd/game/ImageTipsMaoB.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,1115},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>games/jzd/game/ImageTipsMaoD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,933},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>games/jzd/game/ImageTipsMaoS.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,590},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>games/jzd/game/ImageTipsMing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,515},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>games/jzd/game/ImageTipsYanliu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1241,798},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>games/jzd/game/shareTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1702},{350,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{352,97}</string>
			</dict>
			<key>games/jzd/game/shareQRcodeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,1007},{190,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,194}</string>
			</dict>
			<key>games/jzd/game/Text_HanMing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,1},{78,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_card_1.png</string>
			<key>realTextureFileName</key>
			<string>game_card_1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>