<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/gdy/Ani/feiji0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,382},{470,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
			<key>games/gdy/Ani/feiji1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1734,382},{470,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
			<key>games/gdy/Ani/feiji2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,583},{470,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
			<key>games/gdy/Ani/wangzha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/wangzha10.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/wangzha11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,0},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/wangzha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,0},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/wangzha3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,382},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/wangzha4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,882},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/wangzha5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1382},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/wangzha6.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,382},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/wangzha7.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,882},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/wangzha8.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1382},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/wangzha9.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,382},{500,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/gdy/Ani/zhadan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,764},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/zhadan10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,764},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/zhadan11.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,945},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/zhadan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,784},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/zhadan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,784},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/zhadan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,965},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/zhadan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,1053},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/zhadan6.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1126},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/zhadan7.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1307},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/zhadan8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,852},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/zhadan9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,1033},{181,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/gdy/Ani/ImageText33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1882},{213,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,160}</string>
			</dict>
			<key>games/gdy/Ani/ImageText34.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1882},{212,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_4.png</string>
			<key>realTextureFileName</key>
			<string>game_4.png</string>
			<key>size</key>
			<string>{2000,2042}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2000</integer>
			<key>height</key>
			<integer>2042</integer>
		</dict>
	</dict>
</plist>