<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/gdy/cards/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,476},{134,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,209}</string>
			</dict>
			<key>games/gdy/cards/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,689},{134,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,209}</string>
			</dict>
			<key>games/gdy/cards/black_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,806},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,806},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,866},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,964},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,964},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,2},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,62},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,122},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,182},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,242},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,302},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,362},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/black_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,2},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{171,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,233}</string>
			</dict>
			<key>games/gdy/cards/cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,239},{171,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,233}</string>
			</dict>
			<key>games/gdy/cards/HuaSe_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,476},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/gdy/cards/HuaSe_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,586},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/gdy/cards/HuaSe_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,696},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/gdy/cards/HuaSe_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,866},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/gdy/cards/lz.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,976},{44,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,68}</string>
			</dict>
			<key>games/gdy/cards/red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,62},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,122},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,182},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,242},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,302},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,362},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,422},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,482},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,542},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,602},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,662},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,722},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,782},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/gdy/cards/SHuaSe_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,976},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/gdy/cards/SHuaSe_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,926},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/gdy/cards/SHuaSe_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,926},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/gdy/cards/SHuaSe_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,422},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/gdy/cards/card_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,902},{102,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_2.png</string>
			<key>realTextureFileName</key>
			<string>game_2.png</string>
			<key>size</key>
			<string>{365,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>365</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>