frameworks/pbc/Debug/pbc.tlog/cl.command.1.tlog,frameworks/pbc/Debug/pbc.tlog/CL.read.1.tlog,frameworks/pbc/Debug/pbc.tlog/CL.write.1.tlog,frameworks/pbc/Debug/pbc.tlog/lib.command.1.tlog,frameworks/pbc/Debug/pbc.tlog/Lib-link.read.1.tlog,frameworks/pbc/Debug/pbc.tlog/Lib-link.write.1.tlog,frameworks/pbc/Debug/pbc.tlog/pbc.lastbuildstate,frameworks/pbc/Debug/alloc.obj,frameworks/pbc/Debug/array.obj,frameworks/pbc/Debug/bootstrap.obj,frameworks/pbc/Debug/context.obj,frameworks/pbc/Debug/decode.obj,frameworks/pbc/Debug/map.obj,frameworks/pbc/Debug/pattern.obj,frameworks/pbc/Debug/pbc.log,frameworks/pbc/Debug/proto.obj,frameworks/pbc/Debug/register.obj,frameworks/pbc/Debug/rmessage.obj,frameworks/pbc/Debug/stringpool.obj,frameworks/pbc/Debug/varint.obj,frameworks/pbc/Debug/vc120.idb,frameworks/pbc/Debug/vc120.pdb,frameworks/pbc/Debug/wmessage.obj
frameworks/pbc/Debug/pbc.tlog/cl.command.1.tlog
frameworks/pbc/Debug/pbc.tlog/CL.read.1.tlog
frameworks/pbc/Debug/pbc.tlog/CL.write.1.tlog
frameworks/pbc/Debug/pbc.tlog/lib.command.1.tlog
frameworks/pbc/Debug/pbc.tlog/Lib-link.read.1.tlog
frameworks/pbc/Debug/pbc.tlog/Lib-link.write.1.tlog
frameworks/pbc/Debug/pbc.tlog/pbc.lastbuildstate
frameworks/pbc/Debug/alloc.obj
frameworks/pbc/Debug/array.obj
frameworks/pbc/Debug/bootstrap.obj
frameworks/pbc/Debug/context.obj
frameworks/pbc/Debug/decode.obj
frameworks/pbc/Debug/map.obj
frameworks/pbc/Debug/pattern.obj
frameworks/pbc/Debug/pbc.log
frameworks/pbc/Debug/proto.obj
frameworks/pbc/Debug/register.obj
frameworks/pbc/Debug/rmessage.obj
frameworks/pbc/Debug/stringpool.obj
frameworks/pbc/Debug/varint.obj
frameworks/pbc/Debug/vc120.idb
frameworks/pbc/Debug/vc120.pdb
frameworks/pbc/Debug/wmessage.obj
frameworks/runtime-src/proj.win32/Debug/pbc.lib
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/aam2_client.lastbuildstate
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/aam2_client.write.1u.tlog
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/cl.command.1.tlog
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/CL.read.1.tlog
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/CL.write.1.tlog
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/link.command.1.tlog
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/link.read.1.tlog
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/link.write.1.tlog
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/rc.command.1.tlog
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/rc.read.1.tlog
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.tlog/rc.write.1.tlog
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.exp
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.lib
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.log
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.vcxprojResolveAssemblyReference.cache
frameworks/runtime-src/proj.win32/Debug.win32/AppDelegate.obj
frameworks/runtime-src/proj.win32/Debug.win32/bit.obj
frameworks/runtime-src/proj.win32/Debug.win32/freetype.lib
frameworks/runtime-src/proj.win32/Debug.win32/game.res
frameworks/runtime-src/proj.win32/Debug.win32/glew32.dll
frameworks/runtime-src/proj.win32/Debug.win32/glew32.lib
frameworks/runtime-src/proj.win32/Debug.win32/glfw3.lib
frameworks/runtime-src/proj.win32/Debug.win32/glfw3-2015.lib
frameworks/runtime-src/proj.win32/Debug.win32/iconv.dll
frameworks/runtime-src/proj.win32/Debug.win32/JSONManager.obj
frameworks/runtime-src/proj.win32/Debug.win32/libbox2d.lib
frameworks/runtime-src/proj.win32/Debug.win32/libbullet.lib
frameworks/runtime-src/proj.win32/Debug.win32/libchipmunk.lib
frameworks/runtime-src/proj.win32/Debug.win32/libchipmunk-2015.lib
frameworks/runtime-src/proj.win32/Debug.win32/libcocos2d.dll
frameworks/runtime-src/proj.win32/Debug.win32/libcocos2d.exp
frameworks/runtime-src/proj.win32/Debug.win32/libcocos2d.lib
frameworks/runtime-src/proj.win32/Debug.win32/libcocos2d.pdb
frameworks/runtime-src/proj.win32/Debug.win32/libcrypto.lib
frameworks/runtime-src/proj.win32/Debug.win32/libcrypto-1_1.dll
frameworks/runtime-src/proj.win32/Debug.win32/libcurl.dll
frameworks/runtime-src/proj.win32/Debug.win32/libcurl.lib
frameworks/runtime-src/proj.win32/Debug.win32/libiconv.lib
frameworks/runtime-src/proj.win32/Debug.win32/libjpeg.lib
frameworks/runtime-src/proj.win32/Debug.win32/libjpeg-2015.lib
frameworks/runtime-src/proj.win32/Debug.win32/libluacocos2d.lib
frameworks/runtime-src/proj.win32/Debug.win32/libmpg123.dll
frameworks/runtime-src/proj.win32/Debug.win32/libmpg123.lib
frameworks/runtime-src/proj.win32/Debug.win32/libogg.dll
frameworks/runtime-src/proj.win32/Debug.win32/libogg.lib
frameworks/runtime-src/proj.win32/Debug.win32/libpng.lib
frameworks/runtime-src/proj.win32/Debug.win32/libpng-2015.lib
frameworks/runtime-src/proj.win32/Debug.win32/librecast.lib
frameworks/runtime-src/proj.win32/Debug.win32/libsimulator.lib
frameworks/runtime-src/proj.win32/Debug.win32/libSpine.lib
frameworks/runtime-src/proj.win32/Debug.win32/libssl.lib
frameworks/runtime-src/proj.win32/Debug.win32/libssl-1_1.dll
frameworks/runtime-src/proj.win32/Debug.win32/libtiff.dll
frameworks/runtime-src/proj.win32/Debug.win32/libtiff.lib
frameworks/runtime-src/proj.win32/Debug.win32/libtiff-2015.lib
frameworks/runtime-src/proj.win32/Debug.win32/libvorbis.dll
frameworks/runtime-src/proj.win32/Debug.win32/libvorbis.lib
frameworks/runtime-src/proj.win32/Debug.win32/libvorbisfile.dll
frameworks/runtime-src/proj.win32/Debug.win32/libvorbisfile.lib
frameworks/runtime-src/proj.win32/Debug.win32/libwebp.lib
frameworks/runtime-src/proj.win32/Debug.win32/libzlib.lib
frameworks/runtime-src/proj.win32/Debug.win32/lsha1.obj
frameworks/runtime-src/proj.win32/Debug.win32/lua51.dll
frameworks/runtime-src/proj.win32/Debug.win32/lua51.lib
frameworks/runtime-src/proj.win32/Debug.win32/lua-crypt.obj
frameworks/runtime-src/proj.win32/Debug.win32/main.obj
frameworks/runtime-src/proj.win32/Debug.win32/md5.obj
frameworks/runtime-src/proj.win32/Debug.win32/md5lib.obj
frameworks/runtime-src/proj.win32/Debug.win32/OpenAL32.dll
frameworks/runtime-src/proj.win32/Debug.win32/OpenAL32.lib
frameworks/runtime-src/proj.win32/Debug.win32/pbc-lua.obj
frameworks/runtime-src/proj.win32/Debug.win32/SimulatorWin.obj
frameworks/runtime-src/proj.win32/Debug.win32/sqlite3.dll
frameworks/runtime-src/proj.win32/Debug.win32/sqlite3.lib
frameworks/runtime-src/proj.win32/Debug.win32/stdafx.obj
frameworks/runtime-src/proj.win32/Debug.win32/Utils.obj
frameworks/runtime-src/proj.win32/Debug.win32/vc120.idb
frameworks/runtime-src/proj.win32/Debug.win32/vc120.pdb
frameworks/runtime-src/proj.win32/Debug.win32/websockets.dll
frameworks/runtime-src/proj.win32/Debug.win32/websockets.lib
frameworks/runtime-src/proj.win32/Debug.win32/zlib1.dll
frameworks/runtime-src/proj.win32/aam2_client.opensdf
frameworks/runtime-src/proj.win32/aam2_client.sdf
frameworks/runtime-src/proj.win32/aam2_client.v12.suo
simulator/
RYMJ.udf
RYMJ.cfg
zlib1.dll
websockets.dll
sqlite3.dll
lua51.dll
libvorbisfile.dll
libvorbis.dll
libtiff.dll
libssl-1_1.dll
libogg.dll
libmpg123.dll
libcurl.dll
libcrypto-1_1.dll
libcocos2d.dll
iconv.dll
glew32.dll
aam2_client.pdb
aam2_client.ilk
aam2_client.exe
OpenAL32.dll
.DS_Store
.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate
Utils.pyc
package/
runtime/
cocosstudio/games/hzmj1/game/menu_title_5.png
cocosstudio/games/hzmj1/game/menu_title_4.png
cocosstudio/games/hzmj1/game/menu_title_3.png
cocosstudio/games/hzmj1/game/menu_title_2.png
cocosstudio/games/hzmj1/game/menu_title_1.png
cocosstudio/games/hzmj1/game/img_hzmj.png
cocosstudio/games/hzmj1/game/img_DiFen.png
cocosstudio/games/hzmj1/game/hzmjShareGameName.png
cocosstudio/games/hzmj1/game/cardLight.png
cocosstudio/games/hzmj1/game/btn_ruleTop22.png
cocosstudio/games/hzmj1/game/btn_ruleTop21.png
cocosstudio/games/hzmj1/game/btn_ruleTop12.png
cocosstudio/games/hzmj1/game/btn_ruleTop11.png
cocosstudio/games/hzmj1/game/awardBtn.png
cocosstudio/games/hzmj1/game/ShareGameName.png
cocosstudio/games/hzmj1/game/JiangMaBg.png
cocosstudio/games/hzmj1/landscape/HZMJWinAwardLayer.csd
cocosstudio/games/hzmj1/landscape/HZMJPlayLayer.csd
cocosstudio/games/hzmj1/landscape/HZMJLayer.csd
cocosstudio/games/hzmj1/landscape/GameRuleLayer.csd
cocosstudio/games/hzmj1/landscape/GameBg.csd
cocosstudio/games/hzmj1/hzmjRuleListLayer.csd
cocosstudio/games/hzmj1/game_1.csi
cocosstudio/games/hzmj1/game/star.png
cocosstudio/games/hzmj1/game/shareFlower.png
cocosstudio/games/hzmj1/game/mj_flower.png
cocosstudio/games/hzmj1/game/mj_bg.png
cocosstudio/games/hzmj1/game/GameNameImg.png
cocosstudio/games/hzmj1/game/8.png
cocosstudio/games/hzmj1/game/6.png
cocosstudio/games/hzmj1/game/4.png
cocosstudio/games/hzmj1/game/2.png
src/app/Scene/GameScene/ddz/tu.lua
m_2.luaproj
m_2.config
cocosstudio/games/ddz/ChatLayer.udf
cocosstudio/games/comm/launch/LoginLayer.udf
cocosstudio/games/comm/launch/LaunchLayer.udf
RYMJ.ccs.orig
frameworks/runtime-src/proj.win32/UpgradeLog.htm
frameworks/runtime-src/proj.win32/SYMJ.vcxproj.filters
frameworks/runtime-src/proj.win32/SYMJ.vcxproj
frameworks/runtime-src/proj.win32/SCHMJ.v12.suo
frameworks/runtime-src/proj.win32/SCHMJ.suo
frameworks/runtime-src/proj.win32/SCHMJ.sln
frameworks/runtime-src/proj.win32/Debug.win32/aam2_client.Build.CppClean.log
frameworks/pbc/Debug/pbc.Build.CppClean.log
cocosstudio/hallcomm/lobby/LobbyWXClip.udf
cocosstudio/hallcomm/lobby/LobbySetLayer.udf
cocosstudio/hallcomm/lobby/LobbyNoticeMsgBox.udf
cocosstudio/hallcomm/lobby/LobbyLayer1.udf
cocosstudio/hallcomm/lobby/LobbyHeZuo.udf
cocosstudio/hallcomm/lobby/LobbyGuideLayer.udf
cocosstudio/hallcomm/lobby/FriendOperationLayer.udf
cocosstudio/hallcomm/common/PlayerInfoLayer.udf
cocosstudio/games/ddz/GameRuleLayer.udf
cocosstudio/games/ddz/ChatLayer1.csd
cocosstudio/games/ddz/ChatLayer0.udf
cocosstudio/games/ddz/ChatLayer0.csd
