<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcomm/lobby/img/firend_addFriend_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,244},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,87},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_addBlacklist.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,2},{218,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,81}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_addBlacklist_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,2},{154,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,34}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_addFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,74},{207,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,81}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_addFriend_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,67},{158,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,66}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_addFriend_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,2},{198,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,62}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,201},{57,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,60}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_blacklist_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,74},{238,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,61}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_blacklist_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,329},{238,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,61}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_deleFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,159},{207,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,81}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_goodFriend_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,329},{238,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,61}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_goodFriend_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,329},{238,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,61}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_lately_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,2},{238,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,61}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_lately_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,2},{238,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,61}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,74},{208,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,81}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,87},{88,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,91}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,67},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_player_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,179},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_titleBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{374,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,68}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,87},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,132},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,177},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,179},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,74},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_head_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,137},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_icon_blacklist.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,179},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_icon_goodFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,179},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>hallcomm/lobby/img/Friend_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,244},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_head_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,145},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_smClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,229},{57,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,60}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,137},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_cancelBlacklist.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,244},{207,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,81}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_delBlacklist.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,160},{154,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,34}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_btn_delFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,285},{207,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,81}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_touchBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,74},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>hallcomm/lobby/img/friend_realName.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,204},{96,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>FriendPlist.png</string>
			<key>realTextureFileName</key>
			<string>FriendPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>