<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcomm/lobby/img/BG305.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,429},{501,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{501,137}</string>
			</dict>
			<key>hallcomm/lobby/img/BG350.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1},{401,466}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{401,466}</string>
			</dict>
			<key>hallcomm/lobby/img/BG47.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,986},{177,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,188}</string>
			</dict>
			<key>hallcomm/lobby/img/BG51.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,1623},{226,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,124}</string>
			</dict>
			<key>hallcomm/lobby/img/BG52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,932},{499,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{499,81}</string>
			</dict>
			<key>hallcomm/lobby/img/BG53.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,1191},{430,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{430,96}</string>
			</dict>
			<key>hallcomm/lobby/img/bgLobbyTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,404},{1334,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,99}</string>
			</dict>
			<key>hallcomm/lobby/img/BgMyRoomText.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,519},{298,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,119}</string>
			</dict>
			<key>hallcomm/lobby/img/btnCreateJoinBown.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,404},{319,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,113}</string>
			</dict>
			<key>hallcomm/lobby/img/ButtonCreate2.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,657},{327,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,340}</string>
			</dict>
			<key>hallcomm/lobby/img/ButtonCreateJoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1740},{288,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,344}</string>
			</dict>
			<key>hallcomm/lobby/img/ImageText84.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,1},{654,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{654,49}</string>
			</dict>
			<key>hallcomm/lobby/img/img_1280coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,986},{154,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,150}</string>
			</dict>
			<key>hallcomm/lobby/img/img_180coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1815},{142,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,141}</string>
			</dict>
			<key>hallcomm/lobby/img/img_300coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1433},{143,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,154}</string>
			</dict>
			<key>hallcomm/lobby/img/img_3280coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,1851},{155,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,147}</string>
			</dict>
			<key>hallcomm/lobby/img/img_60coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,1851},{152,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,109}</string>
			</dict>
			<key>hallcomm/lobby/img/btnVIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1959},{69,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>hallcomm/lobby/img/ButtonHelpText.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,1711},{44,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,25}</string>
			</dict>
			<key>hallcomm/lobby/img/ButtonMyRoom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,429},{94,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,49}</string>
			</dict>
			<key>hallcomm/lobby/img/ButtonMyRoom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,553},{94,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,51}</string>
			</dict>
			<key>hallcomm/lobby/img/ButtonMyRoom3.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,932},{94,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,51}</string>
			</dict>
			<key>hallcomm/lobby/img/ImageText57.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,2008},{84,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,39}</string>
			</dict>
			<key>hallcomm/lobby/img/img_ArrowToZhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,39},{16,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,33}</string>
			</dict>
			<key>hallcomm/lobby/img/img_ErWeiCodeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1520},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>hallcomm/lobby/img/record_button_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,1520},{243,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,75}</string>
			</dict>
			<key>hallcomm/lobby/img/record_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,1738},{243,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,75}</string>
			</dict>
			<key>hallcomm/lobby/img/updateNo.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,1138},{147,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,41}</string>
			</dict>
			<key>hallcomm/lobby/img/updateOk.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,404},{147,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,42}</string>
			</dict>
			<key>hallcomm/lobby/img/wordVIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1},{36,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,19}</string>
			</dict>
			<key>hallcomm/lobby/img/ButtonJoin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,1191},{327,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,340}</string>
			</dict>
			<key>hallcomm/lobby/img/img_NoticeText.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,657},{532,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{532,96}</string>
			</dict>
			<key>hallcomm/lobby/img/img_NoticeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1959},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>hallcomm/lobby/img/img_NoticeClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,74},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>hallcomm/lobby/img/img_NoticeShow.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1740},{300,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>hallcomm/lobby/img/btn_NoticeBegin.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,1623},{306,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,86}</string>
			</dict>
			<key>hallcomm/lobby/img/lobby_myRoom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{426,479}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{426,479}</string>
			</dict>
			<key>hallcomm/lobby/img/lobby_addFriend_btnSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1589},{215,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,61}</string>
			</dict>
			<key>hallcomm/lobby/img/lobby_addFriend_btnNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1652},{215,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,61}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LobbyPlist0.png</string>
			<key>realTextureFileName</key>
			<string>LobbyPlist0.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>