<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/pdk/game/shunzi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,310},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi13.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,513},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi14.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,513},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi15.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,513},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,513},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,598},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/wangzha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,513},{238,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,228}</string>
			</dict>
			<key>games/pdk/game/wangzha10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/wangzha11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,315},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/wangzha12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,629},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/wangzha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/wangzha3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1257},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/wangzha4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1571},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/wangzha5.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/wangzha6.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/wangzha7.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/wangzha8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1252,1},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/wangzha9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,1},{307,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,312}</string>
			</dict>
			<key>games/pdk/game/zhadan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,753},{238,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,228}</string>
			</dict>
			<key>games/pdk/game/zhadan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,886},{238,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,228}</string>
			</dict>
			<key>games/pdk/game/zhadan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,801},{238,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,228}</string>
			</dict>
			<key>games/pdk/game/zhadan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,801},{238,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,228}</string>
			</dict>
			<key>games/pdk/game/feiji0.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,310},{470,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
			<key>games/pdk/game/feiji1.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,310},{470,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
			<key>games/pdk/game/feiji2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,310},{470,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_ani_1.png</string>
			<key>realTextureFileName</key>
			<string>game_ani_1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>