<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/pdk/cards/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,104},{87,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,109}</string>
			</dict>
			<key>games/pdk/cards/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,193},{87,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,109}</string>
			</dict>
			<key>games/pdk/cards/black_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,384},{33,50}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,282},{49,51}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,613},{28,50}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,289},{31,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,505},{31,49}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,643},{28,50}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,556},{28,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,401},{31,50}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,662},{28,50}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,549},{28,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,703},{27,49}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,487},{29,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/black_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,579},{28,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1},{101,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,128}</string>
			</dict>
			<key>games/pdk/cards/cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1707},{158,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,218}</string>
			</dict>
			<key>games/pdk/cards/HuaSe_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,531},{76,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,82}</string>
			</dict>
			<key>games/pdk/cards/HuaSe_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,282},{83,81}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,82}</string>
			</dict>
			<key>games/pdk/cards/HuaSe_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,365},{80,81}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,82}</string>
			</dict>
			<key>games/pdk/cards/HuaSe_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,447},{79,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,82}</string>
			</dict>
			<key>games/pdk/cards/red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,419},{33,50}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,333},{49,51}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,639},{28,50}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,345},{31,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,454},{31,49}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,665},{28,50}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,609},{28,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,453},{31,50}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,673},{28,50}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,609},{28,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,714},{27,49}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,518},{29,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/cards/red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,613},{28,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>games/pdk/game/liandui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,732},{347,148}}</string>
				<key>offset</key>
				<string>{0,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/pdk/game/liandui10.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1635},{257,211}}</string>
				<key>offset</key>
				<string>{9,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/pdk/game/liandui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1042},{351,181}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/pdk/game/liandui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,838},{337,202}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/pdk/game/liandui4.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,837},{320,223}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/pdk/game/liandui5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1394},{311,220}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/pdk/game/liandui6.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1081},{311,221}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/pdk/game/liandui7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1159},{313,218}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/pdk/game/liandui8.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1648},{256,210}}</string>
				<key>offset</key>
				<string>{10,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/pdk/game/liandui9.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1419},{257,214}}</string>
				<key>offset</key>
				<string>{10,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/pdk/game/shunzi16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi17.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1},{293,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi18.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1},{292,286}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1394},{256,255}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1395},{257,251}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{281,282}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi7.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,289},{283,275}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi8.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,1159},{259,258}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,572},{264,267}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi10.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,569},{271,267}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi11.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,566},{270,269}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi12.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,289},{278,280}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_card_1.png</string>
			<key>realTextureFileName</key>
			<string>game_card_1.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>