<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/pdk/game/bg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,571},{41,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,52}</string>
			</dict>
			<key>games/pdk/game/bg15.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,383},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,33}</string>
			</dict>
			<key>games/pdk/game/bg16.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1212},{114,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,61}</string>
			</dict>
			<key>games/pdk/game/ImageText10.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1151},{186,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,69}</string>
			</dict>
			<key>games/pdk/game/bg13.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1319},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>games/pdk/game/bg14.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,437},{342,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{342,140}</string>
			</dict>
			<key>games/pdk/game/bg17.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1031},{434,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{434,60}</string>
			</dict>
			<key>games/pdk/game/button10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1493},{229,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,92}</string>
			</dict>
			<key>games/pdk/game/button11.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,1493},{229,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,92}</string>
			</dict>
			<key>games/pdk/game/button20.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1301},{313,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,87}</string>
			</dict>
			<key>games/pdk/game/button13.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1037},{229,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,92}</string>
			</dict>
			<key>games/pdk/game/button14.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1131},{229,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,92}</string>
			</dict>
			<key>games/pdk/game/button12.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1207},{229,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,92}</string>
			</dict>
			<key>games/pdk/game/ImageText20.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,781},{368,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{368,80}</string>
			</dict>
			<key>games/pdk/game/ImageText21.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,837},{368,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{368,80}</string>
			</dict>
			<key>games/pdk/game/bg18.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,577},{208,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,53}</string>
			</dict>
			<key>games/pdk/game/bg12.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1207},{28,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,30}</string>
			</dict>
			<key>games/pdk/game/bg20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1301},{190,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,190}</string>
			</dict>
			<key>games/pdk/game/button21.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1225},{229,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,92}</string>
			</dict>
			<key>games/pdk/game/bg21.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,1319},{42,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>games/pdk/game/bg22.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,680},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>games/pdk/game/pdkShareCup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{465,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{465,434}</string>
			</dict>
			<key>games/pdk/game/pdkShareGameName.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1},{568,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,213}</string>
			</dict>
			<key>games/pdk/game/pdkSharePeople.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1031},{167,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,240}</string>
			</dict>
			<key>games/pdk/game/BG6.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,625},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>games/pdk/game/CheckBox_Gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1363},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>games/pdk/game/CheckGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1395},{39,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,42}</string>
			</dict>
			<key>games/pdk/game/Check0.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1328},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>games/pdk/game/Check1.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1148},{55,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>games/pdk/game/CheckBox_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1353},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>games/pdk/game/bgAlphaRect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>games/pdk/game/bgBtnHelp.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,781},{365,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,55}</string>
			</dict>
			<key>games/pdk/game/btnBackY.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,789},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>games/pdk/game/btnChatY.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1339},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/pdk/game/btnDissolution.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,738},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>games/pdk/game/btnHelpY.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1487},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>games/pdk/game/btnMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1376},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/pdk/game/btnRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1413},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/pdk/game/btnSettingY.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,787},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>games/pdk/game/btnVoiceY.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1451},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/pdk/game/textDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>games/pdk/game/textReturn.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,129},{125,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,35}</string>
			</dict>
			<key>games/pdk/game/textReturnLobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,504},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>
			<key>games/pdk/game/textRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,256},{125,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,33}</string>
			</dict>
			<key>games/pdk/game/textSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1319},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/pdk/game/shunzi20.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi21.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,289},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,437},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,725},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/shunzi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1013},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/pdk/game/zhadan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,571},{238,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,228}</string>
			</dict>
			<key>games/pdk/game/zhadan6.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,577},{238,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,228}</string>
			</dict>
			<key>games/pdk/game/zhadan7.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,801},{238,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,228}</string>
			</dict>
			<key>games/pdk/game/zhadan8.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,807},{238,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,228}</string>
			</dict>
			<key>games/pdk/game/shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1273},{247,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,155}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_1.png</string>
			<key>realTextureFileName</key>
			<string>game_1.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>