<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/srddz2/game/wangzha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,653},{175,104}}</string>
				<key>offset</key>
				<string>{-7,-104}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/wangzha10.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1},{436,382}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/wangzha11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,1},{321,362}}</string>
				<key>offset</key>
				<string>{28,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/wangzha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,781},{205,145}}</string>
				<key>offset</key>
				<string>{10,-83}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/wangzha3.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,592},{247,198}}</string>
				<key>offset</key>
				<string>{4,-70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/wangzha4.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,385},{270,205}}</string>
				<key>offset</key>
				<string>{3,-62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/wangzha5.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,335},{363,210}}</string>
				<key>offset</key>
				<string>{28,-61}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/wangzha6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,356},{484,296}}</string>
				<key>offset</key>
				<string>{-2,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/wangzha7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1707,1},{461,249}}</string>
				<key>offset</key>
				<string>{19,-48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/wangzha8.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1},{414,332}}</string>
				<key>offset</key>
				<string>{20,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/wangzha9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{486,353}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,382}</string>
			</dict>
			<key>games/srddz2/game/zhadan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,1107},{118,133}}</string>
				<key>offset</key>
				<string>{20,-64}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/zhadan10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,324},{150,233}}</string>
				<key>offset</key>
				<string>{7,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/zhadan11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,559},{146,220}}</string>
				<key>offset</key>
				<string>{7,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/zhadan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,1227},{119,125}}</string>
				<key>offset</key>
				<string>{2,-58}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/zhadan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1958,1},{81,125}}</string>
				<key>offset</key>
				<string>{1,-57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/zhadan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,1348},{110,104}}</string>
				<key>offset</key>
				<string>{-5,-64}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/zhadan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,948},{150,157}}</string>
				<key>offset</key>
				<string>{2,-66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/zhadan6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,830},{116,143}}</string>
				<key>offset</key>
				<string>{-10,-42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/zhadan7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,464},{142,187}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/zhadan8.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,385},{161,257}}</string>
				<key>offset</key>
				<string>{-1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/zhadan9.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,547},{181,250}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,289}</string>
			</dict>
			<key>games/srddz2/game/feiji0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,464},{444,201}}</string>
				<key>offset</key>
				<string>{-13,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
			<key>games/srddz2/game/feiji1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,910},{439,201}}</string>
				<key>offset</key>
				<string>{-16,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
			<key>games/srddz2/game/feiji2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,324},{470,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_ani.png</string>
			<key>realTextureFileName</key>
			<string>game_ani.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>