<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/srddz2/game/BG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,950},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>games/srddz2/game/BG10.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,919},{60,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>games/srddz2/game/BG13.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,1941},{102,101}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>games/srddz2/game/BG19.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1879},{130,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>games/srddz2/game/BG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,377},{44,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,20}</string>
			</dict>
			<key>games/srddz2/game/BG3.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,423},{37,16}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,20}</string>
			</dict>
			<key>games/srddz2/game/BG38.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,883},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/srddz2/game/BG4.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1372},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,24}</string>
			</dict>
			<key>games/srddz2/game/BG92.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1475},{90,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>games/srddz2/game/BG93.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1475},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>games/srddz2/game/Button_Back.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,791},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/srddz2/game/Button_Chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,883},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/srddz2/game/Button_Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,733},{71,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,73}</string>
			</dict>
			<key>games/srddz2/game/Button_Set.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,783},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/srddz2/game/Button_Vioce.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,883},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/srddz2/game/disconnect.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1637},{79,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,73}</string>
			</dict>
			<key>games/srddz2/game/error_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1966},{235,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,66}</string>
			</dict>
			<key>games/srddz2/game/error_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,862},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>games/srddz2/game/head_sendcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1663},{168,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,82}</string>
			</dict>
			<key>games/srddz2/game/ImageText14.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1902},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>games/srddz2/game/ImageText15.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1950},{120,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,95}</string>
			</dict>
			<key>games/srddz2/game/ImageText16.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,383},{78,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,34}</string>
			</dict>
			<key>games/srddz2/game/ImageText17.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,296},{178,52}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>games/srddz2/game/ImageText19.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,476},{180,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>games/srddz2/game/BG6.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1663},{108,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,120}</string>
			</dict>
			<key>games/srddz2/game/card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,897},{45,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,63}</string>
			</dict>
			<key>games/srddz2/game/ImageText23.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,377},{433,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{433,53}</string>
			</dict>
			<key>games/srddz2/game/BG11.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1266},{138,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,104}</string>
			</dict>
			<key>games/srddz2/game/BG12.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1372},{92,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,101}</string>
			</dict>
			<key>games/srddz2/game/ImageText24.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,830},{88,58}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,58}</string>
			</dict>
			<key>games/srddz2/game/ImageText25.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,733},{91,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,58}</string>
			</dict>
			<key>games/srddz2/game/ImageText26.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,826},{91,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,58}</string>
			</dict>
			<key>games/srddz2/game/ImageText27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1988},{102,58}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,58}</string>
			</dict>
			<key>games/srddz2/game/ImageText33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,787},{213,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,160}</string>
			</dict>
			<key>games/srddz2/game/ImageText34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1002},{212,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,160}</string>
			</dict>
			<key>games/srddz2/game/ImageText18.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1933},{112,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,50}</string>
			</dict>
			<key>games/srddz2/game/BG14.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1596},{65,219}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,221}</string>
			</dict>
			<key>games/srddz2/game/BG15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1465},{67,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,243}</string>
			</dict>
			<key>games/srddz2/game/BG16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{408,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{409,293}</string>
			</dict>
			<key>games/srddz2/game/BG17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1216},{247,86}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,87}</string>
			</dict>
			<key>games/srddz2/game/BG21.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,835},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>
			<key>games/srddz2/game/BG22.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,812},{83,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,55}</string>
			</dict>
			<key>games/srddz2/game/BG23.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1},{374,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{374,70}</string>
			</dict>
			<key>games/srddz2/game/BG24.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1266},{128,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>games/srddz2/game/BG25.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,986},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>games/srddz2/game/BG26.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,1681},{22,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,40}</string>
			</dict>
			<key>games/srddz2/game/bg_chat_bubble_left_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1710},{183,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,91}</string>
			</dict>
			<key>games/srddz2/game/bg_chat_bubble_right_buttom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1895},{183,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,91}</string>
			</dict>
			<key>games/srddz2/game/word_baodao.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,296},{483,172}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{496,178}</string>
			</dict>
			<key>games/srddz2/game/word_baodaoX.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1831},{128,44}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_baodaoY.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1764},{127,44}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_huangfan.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,385},{483,172}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,178}</string>
			</dict>
			<key>games/srddz2/game/word_huangfanX.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1591},{128,44}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_huangfanY.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1810},{127,44}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_mingIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,733},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>games/srddz2/game/word_mingwang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,296},{489,175}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{496,178}</string>
			</dict>
			<key>games/srddz2/game/word_mingwangX.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,658},{131,48}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_mingwangY.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,733},{127,42}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_shuangbaodao.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,559},{483,172}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,178}</string>
			</dict>
			<key>games/srddz2/game/word_suangbaodaoX.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1718},{128,44}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_suangbaodaoY.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1856},{127,44}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_tanda.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,781},{483,172}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{496,178}</string>
			</dict>
			<key>games/srddz2/game/word_tandaX.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1833},{130,44}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_tandaY.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1785},{129,44}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_toulei.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,208},{492,175}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,178}</string>
			</dict>
			<key>games/srddz2/game/word_touliaoX.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1988},{132,44}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/word_touliaoY.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1902},{127,43}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>
			<key>games/srddz2/game/textDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,1},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>games/srddz2/game/textReturn.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,129},{125,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,35}</string>
			</dict>
			<key>games/srddz2/game/textReturnLobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1555},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>
			<key>games/srddz2/game/textRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,256},{125,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,33}</string>
			</dict>
			<key>games/srddz2/game/textSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1555},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/srddz2/game/kong_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1877},{132,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,62}</string>
			</dict>
			<key>games/srddz2/game/btn_tanda.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,1216},{193,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,85}</string>
			</dict>
			<key>games/srddz2/game/btn_zhengcsend.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,1705},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,85}</string>
			</dict>
			<key>games/srddz2/game/btnBackY.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,733},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>games/srddz2/game/btnCloseBullInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,908},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>games/srddz2/game/btnDissolution.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,784},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>games/srddz2/game/btnHelpY.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,808},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>games/srddz2/game/btnMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,883},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/srddz2/game/btnRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,883},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/srddz2/game/btnSettingY.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,733},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>games/srddz2/game/btnVoiceY.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,883},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/srddz2/game/but_baodao.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,1792},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/srddz2/game/but_bubaodao.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,1879},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/srddz2/game/but_shuangbaodao.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1681},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/srddz2/game/but_zhijieying.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1402},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/srddz2/game/bgBlackRect.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,208},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>games/srddz2/game/bgBtnHelp.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,463},{365,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,55}</string>
			</dict>
			<key>games/srddz2/game/bgAlphaRect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,256},{1,1}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>games/srddz2/game/srddz2ShareGameName.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1},{501,205}}</string>
				<key>offset</key>
				<string>{19,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,213}</string>
			</dict>
			<key>games/srddz2/game/srddz2SharePeople.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,1411},{200,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,269}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_1.png</string>
			<key>realTextureFileName</key>
			<string>game_1.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>