<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/srddz2/game/Button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,981},{241,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,42}</string>
			</dict>
			<key>games/srddz2/game/btn_ruleTop11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,925},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/srddz2/game/btn_ruleTop12.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,1},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/srddz2/game/btn_ruleTop21.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,73},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/srddz2/game/btn_ruleTop22.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,145},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/srddz2/game/Button_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,299},{300,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,115}</string>
			</dict>
			<key>games/srddz2/game/Button_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,185},{150,66}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,67}</string>
			</dict>
			<key>games/srddz2/game/Button_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,595},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,601},{322,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,94}</string>
			</dict>
			<key>games/srddz2/game/Button_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,564},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>games/srddz2/game/Button_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,253},{168,89}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>games/srddz2/game/Button_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,794},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>games/srddz2/game/Button_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,1},{168,89}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>games/srddz2/game/Button_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,828},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_109.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,920},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_110.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,274},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,274},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_112.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,274},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_113.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_114.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,93},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_115.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,1},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_116.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,887},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>games/srddz2/game/Button_117.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,564},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>games/srddz2/game/Button_118.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,93},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_119.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,274},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_120.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,564},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_121.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,564},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_122.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,797},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_123.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,889},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_124.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,564},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_125.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,601},{294,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,101}</string>
			</dict>
			<key>games/srddz2/game/Button_126.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,299},{294,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,101}</string>
			</dict>
			<key>games/srddz2/game/Button_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,734},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>games/srddz2/game/Button_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,827},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>games/srddz2/game/Button_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,486},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>games/srddz2/game/Button_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,274},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_127.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,274},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,253},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/Button_129.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,564},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>games/srddz2/game/ButtonClose1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,280},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>games/srddz2/game/Check0.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,734},{55,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>games/srddz2/game/Check1.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,734},{39,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatCommon0.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,217},{301,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatCommon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,217},{298,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon51.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,507},{298,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon52.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,507},{301,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,624},{94,93}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,827},{96,94}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,730},{97,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,720},{94,93}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,528},{99,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,910},{91,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,629},{99,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,94},{92,88}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,925},{93,96}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,94},{89,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,816},{92,92}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,624},{93,94}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,1},{87,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,188},{91,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon19.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,171},{91,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1},{87,90}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon20.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,265},{91,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1},{91,90}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,912},{92,93}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,359},{91,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,816},{94,93}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,94},{91,90}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon26.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,423},{99,103}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,720},{92,94}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1},{91,90}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,925},{97,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,528},{94,94}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,453},{91,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/ButtonChatIcon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,187},{91,90}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>games/srddz2/game/shareFlower.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{296,133}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,134}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_2.png</string>
			<key>realTextureFileName</key>
			<string>game_2.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>