<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/zpcomm/img/BG13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,875},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>game/zpcomm/img/BG14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,537},{67,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,221}</string>
			</dict>
			<key>game/zpcomm/img/BG15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,244},{67,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,243}</string>
			</dict>
			<key>game/zpcomm/img/BG16.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,2},{409,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{409,293}</string>
			</dict>
			<key>game/zpcomm/img/BG17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,107},{250,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,87}</string>
			</dict>
			<key>game/zpcomm/img/BG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,163},{44,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,20}</string>
			</dict>
			<key>game/zpcomm/img/BG21.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,590},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>
			<key>game/zpcomm/img/BG22.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,385},{83,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,55}</string>
			</dict>
			<key>game/zpcomm/img/BG23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,2},{374,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,70}</string>
			</dict>
			<key>game/zpcomm/img/BG24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,343},{129,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>game/zpcomm/img/BG25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,299},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>game/zpcomm/img/BG26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,259},{22,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,40}</string>
			</dict>
			<key>game/zpcomm/img/BG3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,211},{44,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,20}</string>
			</dict>
			<key>game/zpcomm/img/BG36.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,538},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>game/zpcomm/img/BG37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,1096},{78,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,66}</string>
			</dict>
			<key>game/zpcomm/img/BG38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1804,900},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/zpcomm/img/BG4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,346},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,24}</string>
			</dict>
			<key>game/zpcomm/img/BG92.png</key>
			<dict>
				<key>frame</key>
				<string>{{1703,925},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>game/zpcomm/img/BG93.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,958},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>game/zpcomm/img/btn_ruleTop11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,2},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>game/zpcomm/img/btn_ruleTop12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,2},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>game/zpcomm/img/btn_ruleTop21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,76},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>game/zpcomm/img/btn_ruleTop22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,107},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>game/zpcomm/img/Button_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,448},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>game/zpcomm/img/Button_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,744},{152,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,67}</string>
			</dict>
			<key>game/zpcomm/img/Button_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,205},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>game/zpcomm/img/Button_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,2},{322,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,94}</string>
			</dict>
			<key>game/zpcomm/img/Button_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{1714,581},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>game/zpcomm/img/Button_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,558},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>game/zpcomm/img/Button_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,781},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>game/zpcomm/img/Button_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,582},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>game/zpcomm/img/Button_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,315},{193,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,85}</string>
			</dict>
			<key>game/zpcomm/img/Button_109.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,340},{193,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,85}</string>
			</dict>
			<key>game/zpcomm/img/Button_110.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,385},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>game/zpcomm/img/Button_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,361},{193,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,85}</string>
			</dict>
			<key>game/zpcomm/img/Button_112.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,404},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>game/zpcomm/img/Button_116.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,677},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>game/zpcomm/img/Button_117.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,683},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>game/zpcomm/img/Button_118.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,150},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>game/zpcomm/img/Button_125.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,2},{294,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,101}</string>
			</dict>
			<key>game/zpcomm/img/Button_126.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,100},{294,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,101}</string>
			</dict>
			<key>game/zpcomm/img/Button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,476},{241,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,42}</string>
			</dict>
			<key>game/zpcomm/img/Button_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,493},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>game/zpcomm/img/Button_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,753},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>game/zpcomm/img/Button_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,953},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>game/zpcomm/img/Button_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,299},{168,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,91}</string>
			</dict>
			<key>game/zpcomm/img/Button_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1733,150},{231,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,90}</string>
			</dict>
			<key>game/zpcomm/img/Button_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,107},{229,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,92}</string>
			</dict>
			<key>game/zpcomm/img/Button_Back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,512},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/zpcomm/img/Button_Chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,588},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/zpcomm/img/Button_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,939},{69,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,76}</string>
			</dict>
			<key>game/zpcomm/img/Button_Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,1019},{71,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,73}</string>
			</dict>
			<key>game/zpcomm/img/Button_Set.png</key>
			<dict>
				<key>frame</key>
				<string>{{1803,977},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/zpcomm/img/Button_Vioce.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,977},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatCommon0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,205},{301,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatCommon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,200},{301,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,385},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,394},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,299},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,398},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon13.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,488},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon14.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,402},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon15.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,501},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon16.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,505},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,730},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon18.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,604},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon19.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,608},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,664},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,738},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,772},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,772},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1591,855},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon24.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,440},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon25.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,440},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon26.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,440},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon27.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,440},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon28.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,497},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon29.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,591},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,640},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,707},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,711},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,476},{301,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,476},{301,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,55}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,767},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,841},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,842},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonChatIcon9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,875},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>
			<key>game/zpcomm/img/ButtonClose1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,644},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/zpcomm/img/card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,566},{41,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,52}</string>
			</dict>
			<key>game/zpcomm/img/Check0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,370},{55,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>game/zpcomm/img/Check1.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,472},{55,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>game/zpcomm/img/ddzShareCup.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{465,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{465,434}</string>
			</dict>
			<key>game/zpcomm/img/disconnect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,429},{79,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,73}</string>
			</dict>
			<key>game/zpcomm/img/error_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,505},{235,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,66}</string>
			</dict>
			<key>game/zpcomm/img/error_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,582},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>game/zpcomm/img/head_sendcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,299},{168,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,82}</string>
			</dict>
			<key>game/zpcomm/img/ImageText14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1849,76},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>game/zpcomm/img/ImageText15.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,299},{120,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,95}</string>
			</dict>
			<key>game/zpcomm/img/ImageText18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,823},{112,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,50}</string>
			</dict>
			<key>game/zpcomm/img/ImageText19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,315},{180,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>game/zpcomm/img/ImageText17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1658,499},{180,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>game/zpcomm/part/bgRecordBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,510},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>
			<key>game/zpcomm/part/iconRecordPause.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,611},{41,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,51}</string>
			</dict>
			<key>game/zpcomm/part/iconRecordPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,496},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,55}</string>
			</dict>
			<key>game/zpcomm/part/iconRecordSlow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,630},{43,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,37}</string>
			</dict>
			<key>game/zpcomm/part/wordPause.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,303},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>game/zpcomm/part/wordPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,107},{42,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,25}</string>
			</dict>
			<key>game/zpcomm/part/wordRecordFast.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,100},{59,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,22}</string>
			</dict>
			<key>game/zpcomm/part/wordRecordPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1849,137},{59,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,22}</string>
			</dict>
			<key>game/mjcomm/button/run.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,721},{98,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,41}</string>
			</dict>
			<key>game/mjcomm/button/runNot.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,394},{98,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zpcommPlist_1.png</string>
			<key>realTextureFileName</key>
			<string>zpcommPlist_1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>