build/build
build/cocos2d_libs.xcodeproj/xcuserdata
cocos/scripting/lua-bindings/proj.ios_mac/build
cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata
tools/simulator/libsimulator/proj.ios_mac/build
tools/simulator/libsimulator/proj.ios_mac/libsimulator.xcodeproj/xcuserdata
cocos/platform/android/libcocos2dx/build
cocos/platform/android/java/bin
cocos/platform/android/java/gen
.d
local.properties
cocos/2d/Debug.win32
cocos/2d/Release.win32
cocos/editor-support/spine/proj.win32/Debug.win32
cocos/editor-support/spine/proj.win32/Release.win32
cocos/scripting/lua-bindings/proj.win32/Debug.win32
cocos/scripting/lua-bindings/proj.win32/Release.win32
external/Box2D/proj.win32/Debug.win32
external/Box2D/proj.win32/Release.win32
external/bullet/proj.win32/Debug.win32
external/bullet/proj.win32/Release.win32
external/recast/proj.win32/Debug.win32
external/recast/proj.win32/Release.win32
tools/simulator/libsimulator/proj.win32/Debug.win32
tools/simulator/libsimulator/proj.win32/Release.win32