<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/sss/game/Lobby/BG3.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,0},{362,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,232}</string>
			</dict>
			<key>games/sss/game/Lobby/Image_Login1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,232},{218,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,185}</string>
			</dict>
			<key>games/sss/game/Lobby/Image_Login2.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,331},{147,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,92}</string>
			</dict>
			<key>games/sss/game/Lobby/Image_Login3.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,232},{99,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,156}</string>
			</dict>
			<key>games/sss/game/Lobby/Image_Login4.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,288},{92,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,130}</string>
			</dict>
			<key>games/sss/game/Lobby/lobby_man.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,0},{288,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,312}</string>
			</dict>
			<key>games/sss/game/Lobby/lobby_woman.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{312,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,306}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistSSS_1.png</string>
			<key>realTextureFileName</key>
			<string>PlistSSS_1.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>