<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/mjcomm/part/bgAlphaRect.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,251},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1046},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1250},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1454},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1173},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1377},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1381},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1581},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1509},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1658},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1585},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1785},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1713},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,506},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,257},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,401},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,596},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,686},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,545},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,689},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,776},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,866},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,956},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,833},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,977},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1121},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1265},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1381},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,509},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,493},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,759},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,507},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,715},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,729},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,937},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1009},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1259},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,951},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1159},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordChi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,251},{257,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,252}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordGang.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{256,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,238}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordHu.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,257},{232,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,246}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordLai.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,2},{251,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,269}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordPeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,244},{261,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,232}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordZm.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{339,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,245}</string>
			</dict>
			<key>game/mjcomm/cardBgGreen/mjStandFace.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,2},{92,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,137}</string>
			</dict>
			<key>game/mjcomm/cardBgYellow/mjStandFace.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,98},{92,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,137}</string>
			</dict>
			<key>game/mjcomm/cardBgBlue/mjStandFace.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,194},{92,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,137}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordBh.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,290},{212,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,166}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mjActionAni.png</string>
			<key>realTextureFileName</key>
			<string>mjActionAni.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>