<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/mjcomm/part/bgAlphaRect.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,2},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1389},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1593},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1401},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1595},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1797},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1595},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1605},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1605},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1799},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1799},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniActionLight/aniAction_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,251},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,395},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,539},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,683},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,652},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZi_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,827},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,796},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,735},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,879},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,971},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1115},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,940},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1084},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,1023},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniShaiZi/aniShaiZiScroll_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,1167},{86,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,140}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,485},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,723},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,707},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,945},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,735},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,929},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1167},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,957},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1179},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,1151},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniTing/aniTing_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1373},{246,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,218}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordChi.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,229},{257,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,252}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordGang.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,257},{256,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,238}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordHu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,251},{232,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,246}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordLai.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,2},{251,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,269}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordPeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,499},{261,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,232}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordZm.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{339,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,245}</string>
			</dict>
			<key>game/mjcomm/cardBgGreen/mjStandFace.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,229},{92,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,137}</string>
			</dict>
			<key>game/mjcomm/cardBgYellow/mjStandFace.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,370},{92,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,137}</string>
			</dict>
			<key>game/mjcomm/cardBgBlue/mjStandFace.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,511},{92,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,137}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordBh.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1373},{212,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,166}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordPiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,487},{232,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,246}</string>
			</dict>
			<key>game/mjcomm/animation/aniWord/wordYk.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,2},{360,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,223}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mjActionAni.png</string>
			<key>realTextureFileName</key>
			<string>mjActionAni.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>