<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/mjcomm/part/arrow_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1708},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>game/mjcomm/part/BG19.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,1673},{30,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,27}</string>
			</dict>
			<key>game/mjcomm/part/BG20.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,1672},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>game/mjcomm/part/BG4.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,571},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>game/mjcomm/part/BG7.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,564},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>game/mjcomm/part/bgActionMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,310},{37,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,55}</string>
			</dict>
			<key>game/mjcomm/part/bgBlackRect.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,564},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>game/mjcomm/part/bgBtnHelp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,753},{365,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,55}</string>
			</dict>
			<key>game/mjcomm/part/bgClockDi.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,310},{132,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,138}</string>
			</dict>
			<key>game/mjcomm/part/bgClockLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1066},{103,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,27}</string>
			</dict>
			<key>game/mjcomm/part/bgClockLightRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,813},{103,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,27}</string>
			</dict>
			<key>game/mjcomm/part/bgHeadLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,310},{168,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,82}</string>
			</dict>
			<key>game/mjcomm/part/bgHuTips.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,911},{105,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,107}</string>
			</dict>
			<key>game/mjcomm/part/bgMsgBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,310},{129,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>game/mjcomm/part/bgName.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,492},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,33}</string>
			</dict>
			<key>game/mjcomm/part/bgNameScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1110},{114,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,61}</string>
			</dict>
			<key>game/mjcomm/part/bgPaoPao.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,477},{194,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,81}</string>
			</dict>
			<key>game/mjcomm/part/bgPaoPaoLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,478},{183,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,91}</string>
			</dict>
			<key>game/mjcomm/part/bgPaoPaoRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,478},{183,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,91}</string>
			</dict>
			<key>game/mjcomm/part/bgPlayerDisconnect.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,562},{235,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,66}</string>
			</dict>
			<key>game/mjcomm/part/bgPlayerName.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,812},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,33}</string>
			</dict>
			<key>game/mjcomm/part/bgPlayerNameCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,1211},{114,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,61}</string>
			</dict>
			<key>game/mjcomm/part/bgRecordBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1818},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>
			<key>game/mjcomm/part/bgRecordCtrl.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,585},{116,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,111}</string>
			</dict>
			<key>game/mjcomm/part/bgRedMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,449},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>game/mjcomm/part/bgSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,862},{116,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,65}</string>
			</dict>
			<key>game/mjcomm/part/bgTs.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1022},{108,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,95}</string>
			</dict>
			<key>game/mjcomm/part/bgTuoGuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,187},{394,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{394,137}</string>
			</dict>
			<key>game/mjcomm/part/btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1325},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/mjcomm/part/disconnect.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1323},{79,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,73}</string>
			</dict>
			<key>game/mjcomm/part/huCardLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1329},{72,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>game/mjcomm/part/iconCoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1673},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>game/mjcomm/part/iconCurOutCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,449},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>
			<key>game/mjcomm/part/iconIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,369},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,28}</string>
			</dict>
			<key>game/mjcomm/part/iconLaBa.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1615},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>game/mjcomm/part/iconLoading.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1241},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>game/mjcomm/part/iconLocation.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,449},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,28}</string>
			</dict>
			<key>game/mjcomm/part/iconOnPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1400},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>game/mjcomm/part/iconReady.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1474},{60,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>game/mjcomm/part/iconRecordPause.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1627},{41,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,51}</string>
			</dict>
			<key>game/mjcomm/part/iconRecordPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,1735},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,55}</string>
			</dict>
			<key>game/mjcomm/part/iconRecordSlow.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1771},{43,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,37}</string>
			</dict>
			<key>game/mjcomm/part/iconRobot.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1221},{100,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,88}</string>
			</dict>
			<key>game/mjcomm/part/iconTingArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1714},{47,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>game/mjcomm/part/iconTipsHand.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1121},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,97}</string>
			</dict>
			<key>game/mjcomm/part/iconWarn.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,988},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>game/mjcomm/part/iconZhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,1626},{42,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,49}</string>
			</dict>
			<key>game/mjcomm/part/image_copyroomNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,585},{164,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,148}</string>
			</dict>
			<key>game/mjcomm/part/image_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,396},{197,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,49}</string>
			</dict>
			<key>game/mjcomm/part/image_redpoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,1625},{42,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,43}</string>
			</dict>
			<key>game/mjcomm/part/image_wechat.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,585},{164,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,148}</string>
			</dict>
			<key>game/mjcomm/part/Image_wecircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,585},{164,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,148}</string>
			</dict>
			<key>game/mjcomm/part/image_zfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,310},{164,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,148}</string>
			</dict>
			<key>game/mjcomm/part/numLost.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,187},{40,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,720}</string>
			</dict>
			<key>game/mjcomm/part/numWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,187},{40,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,720}</string>
			</dict>
			<key>game/mjcomm/part/rule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,753},{167,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,82}</string>
			</dict>
			<key>game/mjcomm/part/Sp_TipYinDao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,823},{220,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,161}</string>
			</dict>
			<key>game/mjcomm/part/Sp_yinDaoKnow.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,700},{158,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,66}</string>
			</dict>
			<key>game/mjcomm/part/surplus_cardBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,1656},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>game/mjcomm/part/tableRule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,823},{149,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,75}</string>
			</dict>
			<key>game/mjcomm/part/Text_copyNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,350},{138,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,27}</string>
			</dict>
			<key>game/mjcomm/part/Text_scoreshare.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1062},{145,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,42}</string>
			</dict>
			<key>game/mjcomm/part/Text_wechatinvite.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,699},{110,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,26}</string>
			</dict>
			<key>game/mjcomm/part/Text_wechatshare.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,585},{110,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,27}</string>
			</dict>
			<key>game/mjcomm/part/Text_wecircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,924},{138,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,27}</string>
			</dict>
			<key>game/mjcomm/part/Text_zfbinvite.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,935},{138,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,27}</string>
			</dict>
			<key>game/mjcomm/part/Text_zfbshare.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1077},{138,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,27}</string>
			</dict>
			<key>game/mjcomm/part/ting_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,187},{119,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,20}</string>
			</dict>
			<key>game/mjcomm/part/ting_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,562},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>game/mjcomm/part/wordPause.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,452},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>game/mjcomm/part/wordPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,449},{42,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,25}</string>
			</dict>
			<key>game/mjcomm/part/wordRecordFast.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,452},{59,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,22}</string>
			</dict>
			<key>game/mjcomm/part/wordRecordPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,452},{59,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,22}</string>
			</dict>
			<key>game/mjcomm/words/backLobby1.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,870},{177,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,48}</string>
			</dict>
			<key>game/mjcomm/words/juShu.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,920},{73,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,27}</string>
			</dict>
			<key>game/mjcomm/words/shenYuPai.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1329},{73,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,27}</string>
			</dict>
			<key>game/mjcomm/words/wordAgree.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1466},{84,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,44}</string>
			</dict>
			<key>game/mjcomm/words/wordAgreeDisabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1531},{84,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,44}</string>
			</dict>
			<key>game/mjcomm/words/wordAgreeG.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,1514},{84,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,42}</string>
			</dict>
			<key>game/mjcomm/words/wordBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,1162},{148,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,44}</string>
			</dict>
			<key>game/mjcomm/words/wordBei.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1588},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>game/mjcomm/words/wordBigBei.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1733},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>game/mjcomm/words/wordBigDong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1588},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>game/mjcomm/words/wordBigNan.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,1588},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>game/mjcomm/words/wordBigXi.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,1588},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>game/mjcomm/words/wordCancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1419},{86,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,43}</string>
			</dict>
			<key>game/mjcomm/words/wordCancelTuoGuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1173},{146,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,41}</string>
			</dict>
			<key>game/mjcomm/words/wordCardNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1538},{73,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,26}</string>
			</dict>
			<key>game/mjcomm/words/wordChangTable.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,1656},{77,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,42}</string>
			</dict>
			<key>game/mjcomm/words/wordCloseRoom.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,997},{115,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,37}</string>
			</dict>
			<key>game/mjcomm/words/wordCloseRoom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1267},{132,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,40}</string>
			</dict>
			<key>game/mjcomm/words/wordConfirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1441},{86,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,44}</string>
			</dict>
			<key>game/mjcomm/words/wordContinue.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1498},{86,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,44}</string>
			</dict>
			<key>game/mjcomm/words/wordContinueGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,562},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordContinueGame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,746},{180,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,49}</string>
			</dict>
			<key>game/mjcomm/words/wordCurResultInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1354},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,42}</string>
			</dict>
			<key>game/mjcomm/words/wordDian.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1552},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>game/mjcomm/words/wordDiFen.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1586},{50,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>game/mjcomm/words/wordDong.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,1588},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>game/mjcomm/words/wordEnter.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1619},{85,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,40}</string>
			</dict>
			<key>game/mjcomm/words/wordGameResult.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1051},{145,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,44}</string>
			</dict>
			<key>game/mjcomm/words/wordGrayBei.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,449},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>game/mjcomm/words/wordGrayDong.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,449},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>game/mjcomm/words/wordGrayNan.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,449},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>game/mjcomm/words/wordGrayXi.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,449},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>game/mjcomm/words/wordGui.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1504},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/words/wordInviteFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,930},{148,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,44}</string>
			</dict>
			<key>game/mjcomm/words/wordInviteWeChatFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,700},{260,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,46}</string>
			</dict>
			<key>game/mjcomm/words/wordJieShanB.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,1351},{86,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,41}</string>
			</dict>
			<key>game/mjcomm/words/wordJuShu.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1640},{48,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,26}</string>
			</dict>
			<key>game/mjcomm/words/wordKick.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,716},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordKickDisabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1228},{145,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,41}</string>
			</dict>
			<key>game/mjcomm/words/wordLeaveRoom.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1082},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordLeaveY.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1538},{85,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,42}</string>
			</dict>
			<key>game/mjcomm/words/wordLeftKh.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,433},{15,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,37}</string>
			</dict>
			<key>game/mjcomm/words/wordLogOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1116},{115,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,37}</string>
			</dict>
			<key>game/mjcomm/words/wordLookInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1200},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordLookInfoY.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,1235},{112,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,35}</string>
			</dict>
			<key>game/mjcomm/words/wordNan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1552},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>game/mjcomm/words/wordNotEnter.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,1390},{112,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,40}</string>
			</dict>
			<key>game/mjcomm/words/wordPlayAgain.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,1203},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordPleaseOutCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,1038},{161,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,51}</string>
			</dict>
			<key>game/mjcomm/words/wordReady.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1484},{87,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,42}</string>
			</dict>
			<key>game/mjcomm/words/wordRefuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1395},{85,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,44}</string>
			</dict>
			<key>game/mjcomm/words/wordRefuseDisabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1406},{85,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,44}</string>
			</dict>
			<key>game/mjcomm/words/wordRefuseY.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,1586},{85,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,40}</string>
			</dict>
			<key>game/mjcomm/words/wordReplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,1675},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>
			<key>game/mjcomm/words/wordResultFangPao.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,976},{130,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,68}</string>
			</dict>
			<key>game/mjcomm/words/wordResultHuPai.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,982},{138,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,67}</string>
			</dict>
			<key>game/mjcomm/words/wordResultInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,912},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,42}</string>
			</dict>
			<key>game/mjcomm/words/wordResultLiuJu.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1377},{91,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,38}</string>
			</dict>
			<key>game/mjcomm/words/wordResultTaoPao.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1472},{91,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,38}</string>
			</dict>
			<key>game/mjcomm/words/wordResultZiMo.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1567},{91,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,38}</string>
			</dict>
			<key>game/mjcomm/words/wordRightKh.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,474},{15,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,37}</string>
			</dict>
			<key>game/mjcomm/words/wordRuzuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,1662},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>game/mjcomm/words/wordShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,1495},{87,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,42}</string>
			</dict>
			<key>game/mjcomm/words/wordShareZfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,924},{234,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,52}</string>
			</dict>
			<key>game/mjcomm/words/wordShe.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,1504},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/words/wordSheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,1504},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/words/wordSitDownTips.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,2},{344,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{344,28}</string>
			</dict>
			<key>game/mjcomm/words/wordStart.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1113},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordStartG.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,1560},{84,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,42}</string>
			</dict>
			<key>game/mjcomm/words/wordStartY.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,964},{145,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,44}</string>
			</dict>
			<key>game/mjcomm/words/wordTing.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1575},{77,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,45}</string>
			</dict>
			<key>game/mjcomm/words/wordTipsAutoPass.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,615},{293,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,50}</string>
			</dict>
			<key>game/mjcomm/words/wordTipsAutoSend.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,449},{293,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,50}</string>
			</dict>
			<key>game/mjcomm/words/wordWeChatFriendGroup.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,801},{233,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,55}</string>
			</dict>
			<key>game/mjcomm/words/wordWeChatGroup.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,812},{235,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,54}</string>
			</dict>
			<key>game/mjcomm/words/wordWeChatShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1236},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordXi.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,1552},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>game/mjcomm/words/wordYin.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,1504},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/words/wordYqZfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,812},{269,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,45}</string>
			</dict>
			<key>game/mjcomm/words/wordZe.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1051},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/words/wordZhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,1552},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>game/mjcomm/words/wordZhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1085},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/part/btnGameLayerShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,581},{238,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,89}</string>
			</dict>
			<key>game/mjcomm/part/btn_ChatLead.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{632,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,304}</string>
			</dict>
			<key>game/mjcomm/part/smallLoading_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,187},{390,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,97}</string>
			</dict>
			<key>game/mjcomm/part/bgMark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1765},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>game/mjcomm/part/btn_gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,2},{350,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,181}</string>
			</dict>
			<key>game/mjcomm/part/img_TiShiArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1702},{48,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/BG10.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,1036},{37,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,42}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/BG4.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,1606},{74,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,46}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/ButtonRecharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,1707},{48,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/refreshCoinIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1692},{37,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,31}</string>
			</dict>
			<key>game/mjcomm/part/ting_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,310},{119,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,20}</string>
			</dict>
			<key>game/mjcomm/part/ting_red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1672},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>game/mjcomm/part/iconTingAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1124},{78,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,113}</string>
			</dict>
			<key>game/mjcomm/part/iconTingBest.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1403},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>game/mjcomm/part/image_oppTing.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,515},{45,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,11}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mjPartUi.png</string>
			<key>realTextureFileName</key>
			<string>mjPartUi.png</string>
			<key>size</key>
			<string>{1024,1873}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1873</integer>
		</dict>
	</dict>
</plist>