<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/mjcomm/part/arrow_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,965},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>game/mjcomm/part/BG19.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,980},{30,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,27}</string>
			</dict>
			<key>game/mjcomm/part/BG20.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1014},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>game/mjcomm/part/BG4.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,633},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>game/mjcomm/part/BG7.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,626},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>game/mjcomm/part/bgActionMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,930},{37,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,55}</string>
			</dict>
			<key>game/mjcomm/part/bgBlackRect.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,618},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>game/mjcomm/part/bgBtnHelp.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,244},{365,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,55}</string>
			</dict>
			<key>game/mjcomm/part/bgClockDi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,295},{132,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,138}</string>
			</dict>
			<key>game/mjcomm/part/bgClockLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,760},{103,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,27}</string>
			</dict>
			<key>game/mjcomm/part/bgClockLightRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,827},{103,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,27}</string>
			</dict>
			<key>game/mjcomm/part/bgHeadLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,255},{168,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,82}</string>
			</dict>
			<key>game/mjcomm/part/bgHuTips.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,526},{105,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,107}</string>
			</dict>
			<key>game/mjcomm/part/bgMsgBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,295},{129,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>game/mjcomm/part/bgName.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,734},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,33}</string>
			</dict>
			<key>game/mjcomm/part/bgNameScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,325},{114,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,61}</string>
			</dict>
			<key>game/mjcomm/part/bgPaoPao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,618},{194,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,81}</string>
			</dict>
			<key>game/mjcomm/part/bgPaoPaoLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,428},{183,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,91}</string>
			</dict>
			<key>game/mjcomm/part/bgPaoPaoRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,431},{183,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,91}</string>
			</dict>
			<key>game/mjcomm/part/bgPlayerDisconnect.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,255},{235,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,66}</string>
			</dict>
			<key>game/mjcomm/part/bgPlayerName.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,857},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,33}</string>
			</dict>
			<key>game/mjcomm/part/bgPlayerNameCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,443},{114,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,61}</string>
			</dict>
			<key>game/mjcomm/part/bgRecordBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,909},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>
			<key>game/mjcomm/part/bgRecordCtrl.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,411},{116,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,111}</string>
			</dict>
			<key>game/mjcomm/part/bgRedMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1083},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>game/mjcomm/part/bgSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,978},{116,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,65}</string>
			</dict>
			<key>game/mjcomm/part/bgTs.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,561},{108,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,95}</string>
			</dict>
			<key>game/mjcomm/part/bgTuoGuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{394,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,137}</string>
			</dict>
			<key>game/mjcomm/part/btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,635},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/mjcomm/part/disconnect.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,811},{79,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,73}</string>
			</dict>
			<key>game/mjcomm/part/huCardLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1098},{72,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>game/mjcomm/part/iconCoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1029},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>game/mjcomm/part/iconCurOutCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1019},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>
			<key>game/mjcomm/part/iconIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1182},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,28}</string>
			</dict>
			<key>game/mjcomm/part/iconLaBa.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,930},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>game/mjcomm/part/iconLoading.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,729},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>game/mjcomm/part/iconLocation.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1063},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,28}</string>
			</dict>
			<key>game/mjcomm/part/iconOnPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1027},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>game/mjcomm/part/iconReady.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,918},{60,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>game/mjcomm/part/iconRecordPause.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,996},{41,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,51}</string>
			</dict>
			<key>game/mjcomm/part/iconRecordPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,989},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,55}</string>
			</dict>
			<key>game/mjcomm/part/iconRecordSlow.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,1222},{43,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,37}</string>
			</dict>
			<key>game/mjcomm/part/iconRobot.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,876},{100,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,88}</string>
			</dict>
			<key>game/mjcomm/part/iconTingArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,932},{47,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>game/mjcomm/part/iconTipsHand.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,660},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,97}</string>
			</dict>
			<key>game/mjcomm/part/iconWarn.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1190},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>game/mjcomm/part/iconZhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1033},{42,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,49}</string>
			</dict>
			<key>game/mjcomm/part/image_copyroomNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,103},{164,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,148}</string>
			</dict>
			<key>game/mjcomm/part/image_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,539},{197,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,49}</string>
			</dict>
			<key>game/mjcomm/part/image_redpoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1013},{42,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,43}</string>
			</dict>
			<key>game/mjcomm/part/image_wechat.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,103},{164,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,148}</string>
			</dict>
			<key>game/mjcomm/part/Image_wecircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,143},{164,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,148}</string>
			</dict>
			<key>game/mjcomm/part/image_zfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,143},{164,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,148}</string>
			</dict>
			<key>game/mjcomm/part/numLost.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,2},{40,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,720}</string>
			</dict>
			<key>game/mjcomm/part/numWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,2},{40,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,720}</string>
			</dict>
			<key>game/mjcomm/part/rule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,325},{167,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,82}</string>
			</dict>
			<key>game/mjcomm/part/Sp_yinDaoKnow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,816},{158,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,66}</string>
			</dict>
			<key>game/mjcomm/part/surplus_cardBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,851},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>game/mjcomm/part/tableRule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,615},{149,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,75}</string>
			</dict>
			<key>game/mjcomm/part/Text_copyNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,592},{138,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,27}</string>
			</dict>
			<key>game/mjcomm/part/Text_scoreshare.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,639},{145,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,42}</string>
			</dict>
			<key>game/mjcomm/part/Text_wechatinvite.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,639},{110,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,26}</string>
			</dict>
			<key>game/mjcomm/part/Text_wechatshare.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,635},{110,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,27}</string>
			</dict>
			<key>game/mjcomm/part/Text_wecircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,788},{138,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,27}</string>
			</dict>
			<key>game/mjcomm/part/Text_zfbinvite.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,964},{138,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,27}</string>
			</dict>
			<key>game/mjcomm/part/Text_zfbshare.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1059},{138,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,27}</string>
			</dict>
			<key>game/mjcomm/part/ting_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,753},{119,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,20}</string>
			</dict>
			<key>game/mjcomm/part/ting_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,788},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>game/mjcomm/part/wordPause.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,980},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>game/mjcomm/part/wordPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,934},{42,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,25}</string>
			</dict>
			<key>game/mjcomm/part/wordRecordFast.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1000},{59,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,22}</string>
			</dict>
			<key>game/mjcomm/part/wordRecordPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,867},{59,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,22}</string>
			</dict>
			<key>game/mjcomm/words/backLobby1.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,924},{177,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,48}</string>
			</dict>
			<key>game/mjcomm/words/juShu.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,888},{73,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,27}</string>
			</dict>
			<key>game/mjcomm/words/shenYuPai.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1101},{73,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,27}</string>
			</dict>
			<key>game/mjcomm/words/wordAgree.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,772},{84,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,44}</string>
			</dict>
			<key>game/mjcomm/words/wordAgreeDisabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,860},{84,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,44}</string>
			</dict>
			<key>game/mjcomm/words/wordAgreeG.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,844},{84,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,42}</string>
			</dict>
			<key>game/mjcomm/words/wordBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,460},{148,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,44}</string>
			</dict>
			<key>game/mjcomm/words/wordBei.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1178},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>game/mjcomm/words/wordBigBei.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,1058},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>game/mjcomm/words/wordBigDong.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1087},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>game/mjcomm/words/wordBigNan.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,1021},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>game/mjcomm/words/wordBigXi.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1059},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>game/mjcomm/words/wordCancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,715},{86,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,43}</string>
			</dict>
			<key>game/mjcomm/words/wordCancelTuoGuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,726},{146,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,41}</string>
			</dict>
			<key>game/mjcomm/words/wordCardNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,851},{73,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,26}</string>
			</dict>
			<key>game/mjcomm/words/wordChangTable.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,980},{77,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,42}</string>
			</dict>
			<key>game/mjcomm/words/wordCloseRoom.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,726},{115,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,37}</string>
			</dict>
			<key>game/mjcomm/words/wordCloseRoom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,428},{132,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,40}</string>
			</dict>
			<key>game/mjcomm/words/wordConfirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1075},{86,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,44}</string>
			</dict>
			<key>game/mjcomm/words/wordContinue.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,1105},{86,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,44}</string>
			</dict>
			<key>game/mjcomm/words/wordContinueGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,431},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordContinueGame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,740},{180,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,49}</string>
			</dict>
			<key>game/mjcomm/words/wordCurResultInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,561},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,42}</string>
			</dict>
			<key>game/mjcomm/words/wordDian.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,1026},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>game/mjcomm/words/wordDiFen.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,965},{50,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>game/mjcomm/words/wordDong.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1021},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>game/mjcomm/words/wordEnter.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,1101},{85,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,40}</string>
			</dict>
			<key>game/mjcomm/words/wordGameResult.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,739},{145,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,44}</string>
			</dict>
			<key>game/mjcomm/words/wordGrayBei.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,1023},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>game/mjcomm/words/wordGrayDong.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1051},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>game/mjcomm/words/wordGrayNan.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1065},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>game/mjcomm/words/wordGrayXi.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1076},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>game/mjcomm/words/wordGui.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,1051},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/words/wordInviteFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,612},{148,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,44}</string>
			</dict>
			<key>game/mjcomm/words/wordInviteWeChatFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,275},{260,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,46}</string>
			</dict>
			<key>game/mjcomm/words/wordJieShanB.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,805},{86,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,41}</string>
			</dict>
			<key>game/mjcomm/words/wordJuShu.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,928},{48,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,26}</string>
			</dict>
			<key>game/mjcomm/words/wordKick.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,585},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordKickDisabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,910},{145,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,41}</string>
			</dict>
			<key>game/mjcomm/words/wordLeaveRoom.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,888},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordLeaveY.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,760},{85,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,42}</string>
			</dict>
			<key>game/mjcomm/words/wordLeftKh.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,660},{15,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,37}</string>
			</dict>
			<key>game/mjcomm/words/wordLogOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,845},{115,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,37}</string>
			</dict>
			<key>game/mjcomm/words/wordLookInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,411},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordLookInfoY.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,711},{112,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,35}</string>
			</dict>
			<key>game/mjcomm/words/wordNan.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1046},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>game/mjcomm/words/wordNotEnter.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,564},{112,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,40}</string>
			</dict>
			<key>game/mjcomm/words/wordPlayAgain.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,618},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordPleaseOutCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,295},{161,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,51}</string>
			</dict>
			<key>game/mjcomm/words/wordReady.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,983},{87,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,42}</string>
			</dict>
			<key>game/mjcomm/words/wordRefuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1165},{85,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,44}</string>
			</dict>
			<key>game/mjcomm/words/wordRefuseDisabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,1195},{85,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,44}</string>
			</dict>
			<key>game/mjcomm/words/wordRefuseY.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,1133},{85,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,40}</string>
			</dict>
			<key>game/mjcomm/words/wordReplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,1043},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>
			<key>game/mjcomm/words/wordResultFangPao.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,427},{130,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,68}</string>
			</dict>
			<key>game/mjcomm/words/wordResultHuPai.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,768},{138,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,67}</string>
			</dict>
			<key>game/mjcomm/words/wordResultInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,565},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,42}</string>
			</dict>
			<key>game/mjcomm/words/wordResultLiuJu.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,749},{91,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,38}</string>
			</dict>
			<key>game/mjcomm/words/wordResultTaoPao.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,948},{91,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,38}</string>
			</dict>
			<key>game/mjcomm/words/wordResultZiMo.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1000},{91,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,38}</string>
			</dict>
			<key>game/mjcomm/words/wordRightKh.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,701},{15,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,37}</string>
			</dict>
			<key>game/mjcomm/words/wordRuzuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,806},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>game/mjcomm/words/wordShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,1042},{87,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,42}</string>
			</dict>
			<key>game/mjcomm/words/wordShareZfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,380},{234,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,52}</string>
			</dict>
			<key>game/mjcomm/words/wordShe.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1086},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/words/wordSheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1095},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/words/wordSitDownTips.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,244},{344,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{344,28}</string>
			</dict>
			<key>game/mjcomm/words/wordStart.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,764},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordStartG.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,888},{84,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,42}</string>
			</dict>
			<key>game/mjcomm/words/wordStartY.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,680},{145,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,44}</string>
			</dict>
			<key>game/mjcomm/words/wordTing.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1074},{77,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,45}</string>
			</dict>
			<key>game/mjcomm/words/wordTipsAutoPass.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,613},{293,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,50}</string>
			</dict>
			<key>game/mjcomm/words/wordTipsAutoSend.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,103},{293,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,50}</string>
			</dict>
			<key>game/mjcomm/words/wordWeChatFriendGroup.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,143},{233,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,55}</string>
			</dict>
			<key>game/mjcomm/words/wordWeChatGroup.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,400},{235,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,54}</string>
			</dict>
			<key>game/mjcomm/words/wordWeChatShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,829},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
			<key>game/mjcomm/words/wordXi.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1052},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>game/mjcomm/words/wordYin.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1103},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/words/wordYqZfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,2},{269,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,45}</string>
			</dict>
			<key>game/mjcomm/words/wordZe.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1140},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/words/wordZhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1048},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>game/mjcomm/words/wordZhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,1155},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/part/btnGameLayerShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,2},{238,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,89}</string>
			</dict>
			<key>game/mjcomm/part/smallLoading_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,2},{390,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,97}</string>
			</dict>
			<key>game/mjcomm/part/bgMark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,976},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>game/mjcomm/part/img_TiShiArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,895},{48,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,60}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/BG10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1252},{37,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,42}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/BG4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1174},{74,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,46}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/ButtonRecharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,959},{48,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/refreshCoinIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,988},{37,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,31}</string>
			</dict>
			<key>game/mjcomm/part/ting_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1059},{119,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,20}</string>
			</dict>
			<key>game/mjcomm/part/ting_red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1056},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>game/mjcomm/part/iconTingAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,910},{78,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,113}</string>
			</dict>
			<key>game/mjcomm/part/iconTingBest.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,980},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>game/mjcomm/part/image_oppTing.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,615},{45,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,11}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mjPartUi.png</string>
			<key>realTextureFileName</key>
			<string>mjPartUi.png</string>
			<key>size</key>
			<string>{1024,1291}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1291</integer>
		</dict>
	</dict>
</plist>