<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/mjcomm/button/btnActionLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,465},{215,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>game/mjcomm/button/btnBackY.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1761},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>game/mjcomm/button/btnBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,736},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>game/mjcomm/button/btnChangeChair.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,1433},{106,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,109}</string>
			</dict>
			<key>game/mjcomm/button/btnChatY.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1488},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/mjcomm/button/btnChi.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,566},{176,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,168}</string>
			</dict>
			<key>game/mjcomm/button/btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,1405},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/mjcomm/button/btnCloseBullInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1767},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>game/mjcomm/button/btnDisabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,838},{189,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,96}</string>
			</dict>
			<key>game/mjcomm/button/btnDissolution.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1653},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>game/mjcomm/button/btnGang.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,566},{176,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,168}</string>
			</dict>
			<key>game/mjcomm/button/btnGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,909},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>game/mjcomm/button/btnHelpY.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1634},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>game/mjcomm/button/btnHu.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1600},{176,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,168}</string>
			</dict>
			<key>game/mjcomm/button/btnMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1497},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/mjcomm/button/btnPass.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1809},{148,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,145}</string>
			</dict>
			<key>game/mjcomm/button/btnPeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,1797},{176,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,168}</string>
			</dict>
			<key>game/mjcomm/button/btnRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1562},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/mjcomm/button/btnSettingY.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1623},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>game/mjcomm/button/btnSurplus.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,909},{134,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,61}</string>
			</dict>
			<key>game/mjcomm/button/btnTab.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1083},{272,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,69}</string>
			</dict>
			<key>game/mjcomm/button/btnTing.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1797},{176,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,168}</string>
			</dict>
			<key>game/mjcomm/button/btnTipsY.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,1442},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/mjcomm/button/btnVoiceY.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1458},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/mjcomm/button/btnYellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1029},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>game/mjcomm/button/btnZm.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1273},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>game/mjcomm/button/textDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1451},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>game/mjcomm/button/textReturn.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1451},{125,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,35}</string>
			</dict>
			<key>game/mjcomm/button/textReturnLobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,1210},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>
			<key>game/mjcomm/button/textRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,1083},{125,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,33}</string>
			</dict>
			<key>game/mjcomm/button/textSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1277},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/BG14.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,59},{39,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,17}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/BG15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,59},{31,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,11}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/BG19.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1},{30,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,27}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/BG20.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,30},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/BG21.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1770},{159,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,139}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/BG38.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1500},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/bgAlpha.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,1516},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/bgTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,744},{83,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,55}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/bgWinMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1579},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/commBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,1770},{129,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/headBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1370},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/iconBigWinner.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1079},{120,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,95}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/iconClock.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,1541},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/iconPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1418},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/img_Light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{462,539}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,539}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/img_Ruzuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1574},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/img_wxShareGiftBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1631},{73,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/radBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1577},{55,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/radSel.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1574},{55,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/RecordBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1673},{46,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,49}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/Recording.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1201},{138,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,101}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/RecordShort.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,744},{92,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,101}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareContentBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,1199},{118,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,125}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareFlower.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,924},{296,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,134}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareHeadBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1341},{99,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,101}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareLostInfoBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1141},{45,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,130}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/sharePeople.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,682},{167,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,240}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareQRcodeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1209},{190,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,194}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1141},{352,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{352,97}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareTrophy.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1495},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareWinInfoBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1222},{45,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,129}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareWinInfoLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,465},{674,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{674,245}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareWinTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,1254},{88,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,76}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/tabNoSel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1533},{328,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,69}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/tabSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,838},{328,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,69}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/titleBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,465},{374,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{374,70}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/totalResultFailureBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,443},{73,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,393}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/totalResultSuccessBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,1},{93,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,440}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/totalResultSuccessEffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,1},{346,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,563}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/totalResultSuccessEffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,976},{315,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,105}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/voiceBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,841},{127,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,62}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordAgree.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1329},{96,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,44}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordAgreeDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1427},{96,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,44}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordBiaoQing.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,1516},{82,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,45}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordBiaoQing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1532},{82,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,45}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordChangYongYu.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1154},{104,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,45}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordChangYongYu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,1154},{104,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,45}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordFen.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1634},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordJi.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1680},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordJie.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1704},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordQing.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,1706},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordRefuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,1405},{99,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,44}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordRefuseDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1525},{96,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,44}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordSan.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1724},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordShe.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1736},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordShen.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1681},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordXiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1724},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordZhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1727},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/wordZhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1747},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/gameBgSmall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,909},{99,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,58}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/gameBgSmall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,969},{99,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,58}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/gameBgSmall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1070},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/gameMj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1209},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/gameMj_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1269},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/gameMj_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1721},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/Image_SetBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1671},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/Image_SetBlueMJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1154},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/Image_SetClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,1344},{72,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,76}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/Image_SetDi.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1},{1206,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1206,5}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/Image_SetGreenMJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,1170},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/Image_SetRedMJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1270},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/Text_ApplyDissolve.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,682},{145,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,42}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/Text_DissolveRoom.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,829},{145,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,42}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/createRoom_oneOptionMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1541},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>game/mjcomm/part/bgMark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1629},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>game/mjcomm/part/smallLoading_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1141},{390,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,97}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/CheckBox_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1679},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>game/mjcomm/gwidget/setting/CheckBox_Gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,1749},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>game/mjcomm/gwidget/img/shareIconBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,1319},{112,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,114}</string>
			</dict>
			<key>game/mjcomm/button/run.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1571},{98,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,41}</string>
			</dict>
			<key>game/mjcomm/button/runNot.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1636},{98,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mjShaiZiAni.png</string>
			<key>realTextureFileName</key>
			<string>mjShaiZiAni.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>