<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/hzmj/game/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,879},{51,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,88}</string>
			</dict>
			<key>games/hzmj/game/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,699},{59,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,87}</string>
			</dict>
			<key>games/hzmj/game/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,808},{52,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,89}</string>
			</dict>
			<key>games/hzmj/game/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,788},{53,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,89}</string>
			</dict>
			<key>games/hzmj/game/awardBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,899},{76,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,42}</string>
			</dict>
			<key>games/hzmj/game/btn_ruleTop11.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/hzmj/game/btn_ruleTop12.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,340},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/hzmj/game/btn_ruleTop21.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,679},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/hzmj/game/btn_ruleTop22.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,699},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/hzmj/game/cardLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1018},{120,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,167}</string>
			</dict>
			<key>games/hzmj/game/img_DiFen.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,627},{89,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,38}</string>
			</dict>
			<key>games/hzmj/game/img_hzmj.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,401},{132,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,45}</string>
			</dict>
			<key>games/hzmj/game/menu_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,718},{88,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,37}</string>
			</dict>
			<key>games/hzmj/game/menu_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,912},{89,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,37}</string>
			</dict>
			<key>games/hzmj/game/menu_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,821},{89,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,38}</string>
			</dict>
			<key>games/hzmj/game/menu_title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,535},{90,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,38}</string>
			</dict>
			<key>games/hzmj/game/menu_title_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1003},{89,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,37}</string>
			</dict>
			<key>games/hzmj/game/mj_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1198},{391,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,394}</string>
			</dict>
			<key>games/hzmj/game/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,977},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>games/hzmj/game/JiangMaBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,670},{693,526}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{693,526}</string>
			</dict>
			<key>games/hzmj/game/mj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{667,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{667,750}</string>
			</dict>
			<key>games/hzmj/game/GameNameImg.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,670},{149,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,47}</string>
			</dict>
			<key>games/hzmj/game/hzmjShareGameName.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{398,181}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,213}</string>
			</dict>
			<key>games/hzmj/game/shareFlower.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,401},{296,133}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,134}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_1.png</string>
			<key>realTextureFileName</key>
			<string>game_1.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>