<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcomm/common/img/BG16.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,91},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>hallcomm/common/img/BG24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{322,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,112}</string>
			</dict>
			<key>hallcomm/common/img/BG25.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,243},{47,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,337}</string>
			</dict>
			<key>hallcomm/common/img/BG29.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,143},{186,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,98}</string>
			</dict>
			<key>hallcomm/common/img/BG34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,325},{374,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,70}</string>
			</dict>
			<key>hallcomm/common/img/BG35.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1},{129,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>hallcomm/common/img/ButtonCanel.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,292},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>hallcomm/common/img/ButtonEnabled0.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,143},{189,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,96}</string>
			</dict>
			<key>hallcomm/common/img/ButtonSure.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,138},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>hallcomm/common/img/ButtonSure1.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,1},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>hallcomm/common/img/ButtonWX0.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,1},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>hallcomm/common/img/ButtonWX1.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,212},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>hallcomm/common/img/Check2.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,1},{328,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,69}</string>
			</dict>
			<key>hallcomm/common/img/Check3.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,72},{328,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,69}</string>
			</dict>
			<key>hallcomm/common/img/img_smallBgRecharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,98},{108,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,112}</string>
			</dict>
			<key>hallcomm/common/img/img_VipBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{374,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,70}</string>
			</dict>
			<key>hallcomm/common/img/Btn_mobel.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,290},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>hallcomm/common/img/Btn_wechat.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>hallcomm/common/img/Image_qipao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,241},{259,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,47}</string>
			</dict>
			<key>hallcomm/common/img/Image_qipao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,469},{16,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,11}</string>
			</dict>
			<key>hallcomm/common/img/img_rotaryTable1.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,469},{95,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,39}</string>
			</dict>
			<key>hallcomm/common/img/img_rotaryTable2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,469},{95,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,39}</string>
			</dict>
			<key>hallcomm/common/img/Btn_rotaryTable.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1},{74,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>
			<key>hallcomm/common/img/img_smz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,469},{96,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,42}</string>
			</dict>
			<key>hallcomm/common/img/img_rotarylight_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,290},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,73}</string>
			</dict>
			<key>hallcomm/common/img/img_rotarylight_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,290},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CommonPlist1.png</string>
			<key>realTextureFileName</key>
			<string>CommonPlist1.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>