<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/ddz/game/chuntian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1666},{373,451}}</string>
				<key>offset</key>
				<string>{-177,57}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,1547},{376,487}}</string>
				<key>offset</key>
				<string>{-56,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1666},{377,482}}</string>
				<key>offset</key>
				<string>{-43,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{604,458}}</string>
				<key>offset</key>
				<string>{-97,-63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,461},{435,461}}</string>
				<key>offset</key>
				<string>{28,-69}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian17.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1},{456,546}}</string>
				<key>offset</key>
				<string>{52,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian18.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,459},{474,460}}</string>
				<key>offset</key>
				<string>{72,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1278},{475,388}}</string>
				<key>offset</key>
				<string>{80,-60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1283},{381,487}}</string>
				<key>offset</key>
				<string>{-168,61}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1},{492,466}}</string>
				<key>offset</key>
				<string>{96,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,898},{383,498}}</string>
				<key>offset</key>
				<string>{-154,55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,1},{390,510}}</string>
				<key>offset</key>
				<string>{-137,49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,873},{403,516}}</string>
				<key>offset</key>
				<string>{-119,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,513},{401,523}}</string>
				<key>offset</key>
				<string>{-95,43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,469},{402,523}}</string>
				<key>offset</key>
				<string>{-79,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1601,1038},{400,507}}</string>
				<key>offset</key>
				<string>{-68,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian9.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,921},{379,503}}</string>
				<key>offset</key>
				<string>{-67,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_ani_2.png</string>
			<key>realTextureFileName</key>
			<string>game_ani_2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>