<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/ddz/game/zhadan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,1347},{139,139}}</string>
				<key>offset</key>
				<string>{-157,69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan10.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,664},{423,327}}</string>
				<key>offset</key>
				<string>{-21,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan11.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,334},{433,328}}</string>
				<key>offset</key>
				<string>{-15,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan12.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1},{445,330}}</string>
				<key>offset</key>
				<string>{-10,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan13.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1},{455,331}}</string>
				<key>offset</key>
				<string>{-4,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan14.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,993},{375,324}}</string>
				<key>offset</key>
				<string>{-45,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan15.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,333},{446,326}}</string>
				<key>offset</key>
				<string>{-9,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,1074},{370,329}}</string>
				<key>offset</key>
				<string>{-44,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan17.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,781},{375,329}}</string>
				<key>offset</key>
				<string>{-42,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,685},{387,324}}</string>
				<key>offset</key>
				<string>{-50,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1007},{371,326}}</string>
				<key>offset</key>
				<string>{-45,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,1411},{213,199}}</string>
				<key>offset</key>
				<string>{-124,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{469,323}}</string>
				<key>offset</key>
				<string>{8,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,673},{386,332}}</string>
				<key>offset</key>
				<string>{-30,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,349},{376,334}}</string>
				<key>offset</key>
				<string>{-23,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,688},{263,250}}</string>
				<key>offset</key>
				<string>{-100,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1619},{311,281}}</string>
				<key>offset</key>
				<string>{-75,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1335},{314,282}}</string>
				<key>offset</key>
				<string>{-73,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan6.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1319},{319,300}}</string>
				<key>offset</key>
				<string>{-70,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan7.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,1112},{327,297}}</string>
				<key>offset</key>
				<string>{-65,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1376,1},{424,346}}</string>
				<key>offset</key>
				<string>{-18,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/zhadan9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,326},{434,345}}</string>
				<key>offset</key>
				<string>{-13,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,415}</string>
			</dict>
			<key>games/ddz/game/wangzha6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,1207},{190,138}}</string>
				<key>offset</key>
				<string>{8,-136}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1005},{200,150}}</string>
				<key>offset</key>
				<string>{7,-131}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,349},{205,165}}</string>
				<key>offset</key>
				<string>{7,-126}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,556},{208,151}}</string>
				<key>offset</key>
				<string>{8,-119}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,953},{289,277}}</string>
				<key>offset</key>
				<string>{-3,-77}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,766},{237,183}}</string>
				<key>offset</key>
				<string>{1,-104}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1802,424},{262,224}}</string>
				<key>offset</key>
				<string>{-5,-85}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/huojian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1802,1},{211,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,421}</string>
			</dict>
			<key>games/ddz/game/wangzha22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1762,1244},{317,282}}</string>
				<key>offset</key>
				<string>{-4,-59}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_ani_4.png</string>
			<key>realTextureFileName</key>
			<string>game_ani_4.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>