<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/ddz/game/wangzha1.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1243},{101,66}}</string>
				<key>offset</key>
				<string>{1,-161}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1883,1},{219,162}}</string>
				<key>offset</key>
				<string>{6,-115}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1871,320},{227,170}}</string>
				<key>offset</key>
				<string>{5,-109}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,1298},{244,192}}</string>
				<key>offset</key>
				<string>{1,-100}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,721},{251,201}}</string>
				<key>offset</key>
				<string>{-3,-92}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,1082},{259,214}}</string>
				<key>offset</key>
				<string>{-4,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,1082},{265,229}}</string>
				<key>offset</key>
				<string>{-6,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha18.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1778},{284,257}}</string>
				<key>offset</key>
				<string>{-7,-81}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1778},{285,267}}</string>
				<key>offset</key>
				<string>{-4,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1238},{120,83}}</string>
				<key>offset</key>
				<string>{2,-156}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,1627},{304,295}}</string>
				<key>offset</key>
				<string>{-5,-68}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,1},{317,292}}</string>
				<key>offset</key>
				<string>{5,-65}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,1313},{312,291}}</string>
				<key>offset</key>
				<string>{4,-57}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,402},{317,309}}</string>
				<key>offset</key>
				<string>{2,-60}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,767},{323,313}}</string>
				<key>offset</key>
				<string>{2,-56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha27.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,1717},{329,321}}</string>
				<key>offset</key>
				<string>{1,-54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha28.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1713},{359,334}}</string>
				<key>offset</key>
				<string>{-2,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,402},{363,354}}</string>
				<key>offset</key>
				<string>{-5,-53}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,974},{149,102}}</string>
				<key>offset</key>
				<string>{2,-148}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,1697},{371,347}}</string>
				<key>offset</key>
				<string>{-5,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,1323},{372,354}}</string>
				<key>offset</key>
				<string>{0,-37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,851},{385,346}}</string>
				<key>offset</key>
				<string>{2,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha33.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,851},{390,362}}</string>
				<key>offset</key>
				<string>{6,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha34.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1},{386,408}}</string>
				<key>offset</key>
				<string>{1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha35.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,1324},{387,392}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,1},{389,399}}</string>
				<key>offset</key>
				<string>{-3,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha37.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1324},{388,391}}</string>
				<key>offset</key>
				<string>{3,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha38.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,426},{395,423}}</string>
				<key>offset</key>
				<string>{3,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha39.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1},{397,423}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,1924},{161,115}}</string>
				<key>offset</key>
				<string>{1,-144}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha40.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,447},{398,425}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha41.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,897},{403,425}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1345},{401,431}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,897},{401,446}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,447},{404,448}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{408,444}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
			<key>games/ddz/game/wangzha5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1871,549},{174,127}}</string>
				<key>offset</key>
				<string>{4,-140}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,461}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_ani_3.png</string>
			<key>realTextureFileName</key>
			<string>game_ani_3.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>