<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/ddz/game/BG19.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,706},{116,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,65}</string>
			</dict>
			<key>games/ddz/game/ImageText16.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,928},{82,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,34}</string>
			</dict>
			<key>games/ddz/game/BG5.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,796},{456,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{456,93}</string>
			</dict>
			<key>games/ddz/game/BG6.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,66},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>games/ddz/game/BG7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,970},{50,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,90}</string>
			</dict>
			<key>games/ddz/game/BG8.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1},{32,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,63}</string>
			</dict>
			<key>games/ddz/game/ImageText23.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1},{521,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{521,75}</string>
			</dict>
			<key>games/ddz/game/ImageText24.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,349},{108,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,61}</string>
			</dict>
			<key>games/ddz/game/ImageText25.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,119},{113,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,61}</string>
			</dict>
			<key>games/ddz/game/ImageText26.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,234},{113,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,61}</string>
			</dict>
			<key>games/ddz/game/ImageText27.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,459},{108,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,60}</string>
			</dict>
			<key>games/ddz/game/ImageText28.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1},{116,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,61}</string>
			</dict>
			<key>games/ddz/game/ImageText29.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,891},{168,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,62}</string>
			</dict>
			<key>games/ddz/game/ImageText30.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,955},{159,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,63}</string>
			</dict>
			<key>games/ddz/game/ImageText31.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,524},{161,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,62}</string>
			</dict>
			<key>games/ddz/game/ImageText32.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,569},{108,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,60}</string>
			</dict>
			<key>games/ddz/game/ImageText40.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1},{527,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{527,81}</string>
			</dict>
			<key>games/ddz/game/ImageText41.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,713},{553,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{553,81}</string>
			</dict>
			<key>games/ddz/game/ImageText42.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1},{710,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{710,81}</string>
			</dict>
			<key>games/ddz/game/ImageText35.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,857},{42,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,27}</string>
			</dict>
			<key>games/ddz/game/ddzShareGameName.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{568,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,213}</string>
			</dict>
			<key>games/ddz/game/bgAlphaRect.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,1007},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>games/ddz/game/bgBtnHelp.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,952},{365,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,55}</string>
			</dict>
			<key>games/ddz/game/btnBackY.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,530},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>games/ddz/game/btnDissolution.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,806},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>games/ddz/game/btnHelpY.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,655},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>games/ddz/game/btnMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,580},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/ddz/game/btnRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,689},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/ddz/game/btnSettingY.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,530},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>games/ddz/game/textDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,970},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>games/ddz/game/textReturn.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,891},{125,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,35}</string>
			</dict>
			<key>games/ddz/game/textReturnLobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,524},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>
			<key>games/ddz/game/textRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,679},{125,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,33}</string>
			</dict>
			<key>games/ddz/game/textSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,655},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/ddz/game/BG4.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,591},{70,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,113}</string>
			</dict>
			<key>games/ddz/game/BG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,796},{154,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,293}</string>
			</dict>
			<key>games/ddz/game/BG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,713},{206,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,255}</string>
			</dict>
			<key>games/ddz/game/BG3.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,891},{205,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_1.png</string>
			<key>realTextureFileName</key>
			<string>game_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>