<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/ddz/game/feiji0.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,1397},{444,201}}</string>
				<key>offset</key>
				<string>{-13,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
			<key>games/ddz/game/feiji1.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,1843},{439,201}}</string>
				<key>offset</key>
				<string>{-16,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
			<key>games/ddz/game/feiji2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1397},{470,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{470,201}</string>
			</dict>
			<key>games/ddz/game/liandui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1869},{347,148}}</string>
				<key>offset</key>
				<string>{0,-31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/ddz/game/liandui10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1836},{257,211}}</string>
				<key>offset</key>
				<string>{9,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/ddz/game/liandui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1653},{351,181}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/ddz/game/liandui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,1841},{337,202}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/ddz/game/liandui4.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1046},{320,223}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/ddz/game/liandui5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,1},{311,220}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/ddz/game/liandui6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,278},{311,221}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/ddz/game/liandui7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1110},{313,218}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/ddz/game/liandui8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1389,1835},{256,210}}</string>
				<key>offset</key>
				<string>{10,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/ddz/game/liandui9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1564,1},{257,214}}</string>
				<key>offset</key>
				<string>{10,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,231}</string>
			</dict>
			<key>games/ddz/game/shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1229},{245,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,155}</string>
			</dict>
			<key>games/ddz/game/shunzi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,755},{38,33}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,837},{271,267}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi11.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,565},{270,269}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi12.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1},{278,280}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi13.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,283},{278,280}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi14.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,755},{289,285}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi15.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1271},{288,285}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi16.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,933},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi17.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1384},{293,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi18.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,1359},{292,286}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi19.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,462},{291,286}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1229},{79,76}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,1561},{269,272}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi21.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1},{286,286}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi22.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1310},{47,111}}</string>
				<key>offset</key>
				<string>{-57,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2019},{23,25}}</string>
				<key>offset</key>
				<string>{-47,41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1460,1425},{242,243}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,501},{256,255}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,223},{257,251}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,289},{281,282}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi7.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1},{283,275}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,834},{259,258}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/shunzi9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,565},{264,267}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>games/ddz/game/chuntian12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,462},{385,469}}</string>
				<key>offset</key>
				<string>{-27,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,933},{383,462}}</string>
				<key>offset</key>
				<string>{-12,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/chuntian14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{395,459}}</string>
				<key>offset</key>
				<string>{-6,-54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,608}</string>
			</dict>
			<key>games/ddz/game/ImageText33.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1679},{213,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,160}</string>
			</dict>
			<key>games/ddz/game/ImageText34.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,1679},{212,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_ani_1.png</string>
			<key>realTextureFileName</key>
			<string>game_ani_1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>