<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/ddz/game/Button_113.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_114.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,195},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_115.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,368},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_119.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,137},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_120.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,137},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_121.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,224},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_122.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,361},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_123.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,389},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_124.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,455},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_127.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,542},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,555},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/Button_129.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,629},{192,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,85}</string>
			</dict>
			<key>games/ddz/game/shareFlower.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{296,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,134}</string>
			</dict>
			<key>games/ddz/game/textDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,1},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>games/ddz/game/textReturn.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,129},{125,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,35}</string>
			</dict>
			<key>games/ddz/game/textReturnLobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,331},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>
			<key>games/ddz/game/textRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,256},{125,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,33}</string>
			</dict>
			<key>games/ddz/game/textSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,256},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/ddz/game/bgAlphaRect.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>games/ddz/game/bgBtnHelp.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1},{365,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,55}</string>
			</dict>
			<key>games/ddz/game/btnBackY.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,311},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>games/ddz/game/btnDissolution.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,383},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>games/ddz/game/btnHelpY.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,311},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>games/ddz/game/btnMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,368},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/ddz/game/btnRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,443},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/ddz/game/btnSettingY.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,311},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_2.png</string>
			<key>realTextureFileName</key>
			<string>game_2.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>