<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/comm/launch/BG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,196},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>games/comm/launch/BG4.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,423},{31,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,27}</string>
			</dict>
			<key>games/comm/launch/BG5.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,137},{60,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,57}</string>
			</dict>
			<key>games/comm/launch/BG9.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,455},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>games/comm/launch/ButtonSure.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,1},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>games/comm/launch/Check0.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,137},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>games/comm/launch/Check1.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,208},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>games/comm/launch/daopying.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,423},{320,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,30}</string>
			</dict>
			<key>games/comm/launch/ImageText1.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,455},{252,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,37}</string>
			</dict>
			<key>games/comm/launch/ImageText2.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1},{205,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,37}</string>
			</dict>
			<key>games/comm/launch/ImageText3.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,98},{117,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,37}</string>
			</dict>
			<key>games/comm/launch/ImageText5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,423},{208,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,56}</string>
			</dict>
			<key>games/comm/launch/UpdateProgress0.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,201},{75,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,33}</string>
			</dict>
			<key>games/comm/launch/UpdateProgress1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,481},{450,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,21}</string>
			</dict>
			<key>games/comm/launch/UpdateProgress2.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,455},{50,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,16}</string>
			</dict>
			<key>games/comm/launch/BG3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{675,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{675,420}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LaunchPlist1.png</string>
			<key>realTextureFileName</key>
			<string>LaunchPlist1.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>