<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/sss/comm/BG16.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,580},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/sss/comm/BG18.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,829},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>games/sss/comm/BG7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1007},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>games/sss/comm/bgMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,655},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>games/sss/comm/btn_bule_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,2},{239,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,106}</string>
			</dict>
			<key>games/sss/comm/btn_colse.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,540},{76,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,78}</string>
			</dict>
			<key>games/sss/comm/btn_green_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,746},{284,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,106}</string>
			</dict>
			<key>games/sss/comm/btn_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,198},{133,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,36}</string>
			</dict>
			<key>games/sss/comm/btn_text_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,664},{79,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,43}</string>
			</dict>
			<key>games/sss/comm/btn_text_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,664},{79,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,43}</string>
			</dict>
			<key>games/sss/comm/btn_text_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,198},{135,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,36}</string>
			</dict>
			<key>games/sss/comm/btn_text_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,245},{133,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,36}</string>
			</dict>
			<key>games/sss/comm/btn_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,829},{83,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,36}</string>
			</dict>
			<key>games/sss/comm/btn_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,561},{90,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,36}</string>
			</dict>
			<key>games/sss/comm/btn_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,620},{89,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,35}</string>
			</dict>
			<key>games/sss/comm/btn_yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,2},{239,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,106}</string>
			</dict>
			<key>games/sss/comm/btn_yellow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,382},{154,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,71}</string>
			</dict>
			<key>games/sss/comm/image_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,492},{506,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{506,114}</string>
			</dict>
			<key>games/sss/comm/image_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,2},{148,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,146}</string>
			</dict>
			<key>games/sss/comm/image_box_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,712},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>games/sss/comm/image_box_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,765},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/sss/comm/image_box_select_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,653},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>games/sss/comm/image_box_select_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,869},{53,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>
			<key>games/sss/comm/img_record_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1002},{292,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,1}</string>
			</dict>
			<key>games/sss/comm/text_setting_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,288},{116,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,37}</string>
			</dict>
			<key>games/sss/game/button_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,2},{228,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,96}</string>
			</dict>
			<key>games/sss/game/button_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,234},{228,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,96}</string>
			</dict>
			<key>games/sss/game/chat_menu_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,832},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/sss/game/chat_menu_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,753},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/sss/game/chat_menu_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,408},{102,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,35}</string>
			</dict>
			<key>games/sss/game/chat_menu_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,514},{102,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,35}</string>
			</dict>
			<key>games/sss/game/image_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,765},{46,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,43}</string>
			</dict>
			<key>games/sss/game/image_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,375},{108,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,64}</string>
			</dict>
			<key>games/sss/game/image_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,492},{78,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,351}</string>
			</dict>
			<key>games/sss/game/image_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,492},{87,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,375}</string>
			</dict>
			<key>games/sss/game/image_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,871},{544,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,62}</string>
			</dict>
			<key>games/sss/game/result_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,112},{45,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,129}</string>
			</dict>
			<key>games/sss/game/result_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,937},{45,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,130}</string>
			</dict>
			<key>games/sss/game/rule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,992},{32,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,28}</string>
			</dict>
			<key>games/sss/game/rule_play_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,713},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/sss/game/rule_play_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,790},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/sss/game/rule_room_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,714},{135,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,33}</string>
			</dict>
			<key>games/sss/game/rule_room_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,853},{135,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,33}</string>
			</dict>
			<key>games/sss/game/rule_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,937},{287,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,66}</string>
			</dict>
			<key>games/sss/game/rule_title_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,714},{287,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,66}</string>
			</dict>
			<key>games/sss/game/signal.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,302},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,24}</string>
			</dict>
			<key>games/sss/game/text_dissolve_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,152},{325,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{325,39}</string>
			</dict>
			<key>games/sss/game/text_record_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,245},{325,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{325,39}</string>
			</dict>
			<key>games/sss/game/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,937},{326,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,74}</string>
			</dict>
			<key>games/sss/game/image_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{296,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,486}</string>
			</dict>
			<key>games/sss/game/Btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,288},{142,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,83}</string>
			</dict>
			<key>games/sss/game/Btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,434},{142,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,83}</string>
			</dict>
			<key>games/sss/game/Btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,2},{219,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,83}</string>
			</dict>
			<key>games/sss/game/Btn6.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,152},{219,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,83}</string>
			</dict>
			<key>games/sss/game/Btn7.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,300},{174,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,83}</string>
			</dict>
			<key>games/sss/game/Image_SpcialTip.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,492},{250,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,163}</string>
			</dict>
			<key>games/sss/game/Img_Transparent.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,466},{244,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,86}</string>
			</dict>
			<key>games/sss/game/Sp_cardBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,664},{85,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,111}</string>
			</dict>
			<key>games/sss/game/Sp_hulu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,937},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>games/sss/game/Sp_liangdui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,239},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>games/sss/game/Sp_santiao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,713},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>games/sss/game/Sp_tiezhi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,711},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>games/sss/game/Sp_shunzi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,796},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>games/sss/game/Sp_tonghua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,796},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>games/sss/game/Sp_tonghuashun3.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,152},{83,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,28}</string>
			</dict>
			<key>games/sss/game/Text_andaxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,335},{109,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,38}</string>
			</dict>
			<key>games/sss/game/Text_anhuase.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,448},{109,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,38}</string>
			</dict>
			<key>games/sss/game/Text_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,753},{83,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,39}</string>
			</dict>
			<key>games/sss/game/Text_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,744},{84,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,40}</string>
			</dict>
			<key>games/sss/game/Btn_Special.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,112},{176,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,82}</string>
			</dict>
			<key>games/sss/game/Sp_duizi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,620},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>games/sss/game/Sp_wutong3.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,245},{53,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_4.png</string>
			<key>realTextureFileName</key>
			<string>game_4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>