<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/sss/game/Bg_Mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,712},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>games/sss/game/bgMsgBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,102},{129,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>games/sss/game/Btn_noselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{174,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,183}</string>
			</dict>
			<key>games/sss/game/Btn_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,189},{174,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,183}</string>
			</dict>
			<key>games/sss/game/Btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,2},{217,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,83}</string>
			</dict>
			<key>games/sss/game/Image_Time.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,166},{83,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,120}</string>
			</dict>
			<key>games/sss/game/Sp_duizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,431},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/sss/game/Sp_hulu.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,712},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>games/sss/game/Sp_liangdui.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,890},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/sss/game/Sp_santiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,891},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/sss/game/Sp_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,699},{28,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,30}</string>
			</dict>
			<key>games/sss/game/animation/ani_Settle/Sp_settle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,993},{66,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,22}</string>
			</dict>
			<key>games/sss/game/animation/ani_Settle/Sp_settle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,993},{66,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,22}</string>
			</dict>
			<key>games/sss/game/animation/ani_Settle/Sp_settle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,993},{66,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,22}</string>
			</dict>
			<key>games/sss/game/Sp_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,166},{280,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,61}</string>
			</dict>
			<key>games/sss/game/Sp_shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,612},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/sss/game/Sp_tiezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,790},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/sss/game/Sp_tonghua.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,746},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/sss/game/Sp_tonghuashun.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,820},{89,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,33}</string>
			</dict>
			<key>games/sss/game/Sp_wulong.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,776},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/sss/game/Sp_wutong.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,778},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/sss/game/Text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,389},{94,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,53}</string>
			</dict>
			<key>games/sss/game/Text_finish.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,604},{91,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,52}</string>
			</dict>
			<key>games/sss/game/Text_Finish1.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,918},{83,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,39}</string>
			</dict>
			<key>games/sss/game/Text_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,421},{94,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,53}</string>
			</dict>
			<key>games/sss/game/Text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,514},{94,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,53}</string>
			</dict>
			<key>games/sss/game/Text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,519},{94,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,53}</string>
			</dict>
			<key>games/sss/game/Text_settle.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,581},{136,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,53}</string>
			</dict>
			<key>games/sss/game/Text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,605},{94,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,53}</string>
			</dict>
			<key>games/sss/game/Text_specialcards.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,231},{179,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,52}</string>
			</dict>
			<key>games/sss/game/Text_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,605},{94,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,53}</string>
			</dict>
			<key>games/sss/game/Text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,487},{94,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,53}</string>
			</dict>
			<key>games/sss/game/Text_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,414},{140,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,53}</string>
			</dict>
			<key>games/sss/game/Text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,415},{95,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,53}</string>
			</dict>
			<key>games/sss/game/Text_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,388},{95,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,53}</string>
			</dict>
			<key>games/sss/game/animation/ani_Shoot/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,234},{160,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,130}</string>
			</dict>
			<key>games/sss/game/animation/ani_Shoot/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,2},{160,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,130}</string>
			</dict>
			<key>games/sss/game/animation/ani_Shoot/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,2},{160,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,130}</string>
			</dict>
			<key>games/sss/game/animation/ani_Shoot/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,2},{160,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,130}</string>
			</dict>
			<key>games/sss/game/animation/ani_Shoot/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,398},{160,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,130}</string>
			</dict>
			<key>games/sss/game/animation/ani_Shoot/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,562},{160,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,130}</string>
			</dict>
			<key>games/sss/game/animation/ani_Shoot/bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,411},{102,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,59}</string>
			</dict>
			<key>games/sss/game/animation/ani_Shoot/gun.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,223},{188,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,78}</string>
			</dict>
			<key>games/sss/game/Sp_toudao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,961},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/sss/game/Sp_toudao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,834},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/sss/game/Sp_weidao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,876},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/sss/game/Sp_weidao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,918},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/sss/game/Sp_zhongdao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,778},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/sss/game/Sp_zhongdao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,709},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/sss/game/Sp_zongfen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,336},{114,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,49}</string>
			</dict>
			<key>games/sss/game/Sp_zongfen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,235},{114,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,49}</string>
			</dict>
			<key>games/sss/game/Sp_Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,699},{75,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,44}</string>
			</dict>
			<key>games/sss/game/Sp_DifenBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,922},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/sss/game/Sp_NameSSS1.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,549},{102,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,34}</string>
			</dict>
			<key>games/sss/game/Sp_NameSSS2.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,603},{102,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,34}</string>
			</dict>
			<key>games/sss/game/Sp_Reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,755},{75,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,44}</string>
			</dict>
			<key>games/sss/game/Btn_noSelectS.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,376},{174,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,183}</string>
			</dict>
			<key>games/sss/game/Btn_selectS.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,563},{174,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,183}</string>
			</dict>
			<key>games/sss/game/Sp_couyise.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,823},{91,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,34}</string>
			</dict>
			<key>games/sss/game/Sp_liuduiban.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,617},{91,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,34}</string>
			</dict>
			<key>games/sss/game/Sp_qinglong.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,865},{63,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,34}</string>
			</dict>
			<key>games/sss/game/Sp_quanda.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,846},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>games/sss/game/Sp_quanxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,786},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>games/sss/game/Sp_sanfentianxia.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,373},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>games/sss/game/Sp_sanshunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,681},{91,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,34}</string>
			</dict>
			<key>games/sss/game/Sp_santonghua.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,695},{91,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,34}</string>
			</dict>
			<key>games/sss/game/Sp_santonghuashun.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,557},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>games/sss/game/Sp_shierhuangzu.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,681},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>games/sss/game/Sp_sitaosantiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,699},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>games/sss/game/Sp_specialcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,617},{91,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,31}</string>
			</dict>
			<key>games/sss/game/Sp_tiezhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,884},{61,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,33}</string>
			</dict>
			<key>games/sss/game/Sp_tonghuashun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,652},{90,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,33}</string>
			</dict>
			<key>games/sss/game/Sp_wuduisantiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,767},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>games/sss/game/Sp_wutong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,914},{61,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,33}</string>
			</dict>
			<key>games/sss/game/Sp_yitiaolong.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,751},{91,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,34}</string>
			</dict>
			<key>games/sss/game/Sp_zhongdunhulu.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,767},{119,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,34}</string>
			</dict>
			<key>games/sss/game/Sp_zhongdunhulu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,768},{119,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,34}</string>
			</dict>
			<key>games/sss/game/Text_7_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,232},{185,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,54}</string>
			</dict>
			<key>games/sss/game/Sp_B(.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,726},{20,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,44}</string>
			</dict>
			<key>games/sss/game/Sp_B).png</key>
			<dict>
				<key>frame</key>
				<string>{{511,474},{19,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,44}</string>
			</dict>
			<key>games/sss/game/Sp_Y(.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,726},{20,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,44}</string>
			</dict>
			<key>games/sss/game/Sp_Y).png</key>
			<dict>
				<key>frame</key>
				<string>{{559,474},{19,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,44}</string>
			</dict>
			<key>games/sss/game/Text_mapai.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,971},{45,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,18}</string>
			</dict>
			<key>games/sss/game/Text_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,288},{96,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,53}</string>
			</dict>
			<key>games/sss/game/Sp_chongsan.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,848},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>games/sss/game/Sp_chongsan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,884},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>games/sss/game/animation/ani_Shoot/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,750},{160,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,130}</string>
			</dict>
			<key>games/sss/game/banker_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,412},{165,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,43}</string>
			</dict>
			<key>games/sss/game/base_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,558},{165,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,43}</string>
			</dict>
			<key>games/sss/game/battery_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,726},{44,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,20}</string>
			</dict>
			<key>games/sss/game/battery_value.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,721},{44,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,20}</string>
			</dict>
			<key>games/sss/game/btn_gray_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,750},{239,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,106}</string>
			</dict>
			<key>games/sss/game/btn_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,594},{101,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,45}</string>
			</dict>
			<key>games/sss/game/btn_text_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,544},{102,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,47}</string>
			</dict>
			<key>games/sss/game/btn_text_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,231},{176,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,49}</string>
			</dict>
			<key>games/sss/game/btn_text_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,231},{177,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,46}</string>
			</dict>
			<key>games/sss/game/btn_text_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,290},{144,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,38}</string>
			</dict>
			<key>games/sss/game/btn_text_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,231},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>games/sss/game/btn_text_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,914},{227,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,53}</string>
			</dict>
			<key>games/sss/game/btn_text_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,102},{230,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,48}</string>
			</dict>
			<key>games/sss/game/btn_text_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,719},{103,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,45}</string>
			</dict>
			<key>games/sss/game/btn_text_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,504},{145,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,44}</string>
			</dict>
			<key>games/sss/game/btn_text_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,231},{133,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,36}</string>
			</dict>
			<key>games/sss/game/btn_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,650},{101,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,45}</string>
			</dict>
			<key>games/sss/game/btn_text_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,368},{132,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,36}</string>
			</dict>
			<key>games/sss/game/btn_text_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,487},{103,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,47}</string>
			</dict>
			<key>games/sss/game/btn_text_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,235},{134,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,35}</string>
			</dict>
			<key>games/sss/game/btn_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,662},{101,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,46}</string>
			</dict>
			<key>games/sss/game/btn_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,336},{104,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,47}</string>
			</dict>
			<key>games/sss/game/btn_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,444},{101,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,48}</string>
			</dict>
			<key>games/sss/game/btn_text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,552},{101,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,48}</string>
			</dict>
			<key>games/sss/game/btn_text_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,497},{102,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,45}</string>
			</dict>
			<key>games/sss/game/btn_text_jjue.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,913},{83,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,34}</string>
			</dict>
			<key>games/sss/game/btn_text_jjuehui.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,846},{83,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,34}</string>
			</dict>
			<key>games/sss/game/btn_text_lkfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,421},{132,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,36}</string>
			</dict>
			<key>games/sss/game/btn_text_shareFri.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,2},{226,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,52}</string>
			</dict>
			<key>games/sss/game/btn_text_shareWx.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,971},{232,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,48}</string>
			</dict>
			<key>games/sss/game/btn_text_ty.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,655},{89,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,36}</string>
			</dict>
			<key>games/sss/game/btn_text_tyhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,960},{89,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,36}</string>
			</dict>
			<key>games/sss/game/button_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,2},{228,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,96}</string>
			</dict>
			<key>games/sss/game/button_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,2},{196,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,96}</string>
			</dict>
			<key>games/sss/game/Sp_TipBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,750},{252,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,125}</string>
			</dict>
			<key>games/sss/game/Btn_Tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,768},{93,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_2.png</string>
			<key>realTextureFileName</key>
			<string>game_2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>