<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/sss/game/cards/hei1.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,442},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei10.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,442},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei11.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,236},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei12.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,296},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei13.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,356},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,416},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei3.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,236},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei4.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,120},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei5.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,2},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei6.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,62},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei7.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,2},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei8.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,296},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hei9.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,356},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,416},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong10.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,180},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong11.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,120},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong12.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,62},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong13.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,2},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,240},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong3.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,300},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong4.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,360},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong5.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,420},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong6.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,180},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong7.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,120},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong8.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,62},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/hong9.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,2},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/Image_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,2},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/sss/game/cards/Image_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,112},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/sss/game/cards/Image_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,222},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/sss/game/cards/Image_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,332},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/sss/game/cards/Sp_Pai.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{171,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,233}</string>
			</dict>
			<key>games/sss/game/cards/Sp_PaiBei.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,239},{171,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,233}</string>
			</dict>
			<key>games/sss/game/cards/type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,476},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/sss/game/cards/type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,476},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/sss/game/cards/type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,476},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/sss/game/cards/type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,476},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/sss/game/cards/lan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,240},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan10.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,300},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan11.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,360},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan12.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,420},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan13.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,180},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,120},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,62},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,2},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,240},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan6.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,300},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan7.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,360},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan8.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,420},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lan9.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,180},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,120},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lv10.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,62},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/lv5.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,2},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/sss/game/cards/Image_gui.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,2},{81,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,114}</string>
			</dict>
			<key>games/sss/game/cards/Image_ma.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,120},{74,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,112}</string>
			</dict>
			<key>games/sss/game/cards/type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,476},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/sss/game/cards/type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,476},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_1.png</string>
			<key>realTextureFileName</key>
			<string>game_1.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>