<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/scmj/game/water_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,0},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,0},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,0},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,0},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,212},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,212},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,424},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,424},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,636},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,636},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,684},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,684},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,684},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,1368},{321,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,317}</string>
			</dict>
			<key>games/scmj/game/water_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1368},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,848},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1060},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,848},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1060},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1272},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/water_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1484},{684,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{684,212}</string>
			</dict>
			<key>games/scmj/game/msgBox_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,1835},{129,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>games/scmj/game/Img_HJZY1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1887},{438,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,151}</string>
			</dict>
			<key>games/scmj/game/Img_HJZY2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,1368},{467,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{467,161}</string>
			</dict>
			<key>games/scmj/game/Img_HJZY3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,1368},{519,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,176}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_2.png</string>
			<key>realTextureFileName</key>
			<string>game_2.png</string>
			<key>size</key>
			<string>{2026,2038}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2026</integer>
			<key>height</key>
			<integer>2038</integer>
		</dict>
	</dict>
</plist>