<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/scmj/game/ani_CDJ1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,211},{231,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,116}</string>
			</dict>
			<key>games/scmj/game/ani_CDJ2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,287},{279,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{279,139}</string>
			</dict>
			<key>games/scmj/game/ani_CDJ3.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,834},{279,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,139}</string>
			</dict>
			<key>games/scmj/game/ani_CHZ1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,705},{238,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,122}</string>
			</dict>
			<key>games/scmj/game/ani_CHZ2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,0},{287,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,146}</string>
			</dict>
			<key>games/scmj/game/ani_CHZ3.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,494},{313,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,160}</string>
			</dict>
			<key>games/scmj/game/btn_ruleTop11.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1977},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/scmj/game/btn_ruleTop12.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1425},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/scmj/game/btn_ruleTop21.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1425},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/scmj/game/btn_ruleTop22.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1858},{337,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,70}</string>
			</dict>
			<key>games/scmj/game/btn_type1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1159},{136,158}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,159}</string>
			</dict>
			<key>games/scmj/game/btn_type2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1317},{136,158}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,159}</string>
			</dict>
			<key>games/scmj/game/btn_type3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,1475},{136,158}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,159}</string>
			</dict>
			<key>games/scmj/game/image_cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1495},{331,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,189}</string>
			</dict>
			<key>games/scmj/game/img_DiFen.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1928},{89,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,38}</string>
			</dict>
			<key>games/scmj/game/menu_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1031,1928},{88,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,37}</string>
			</dict>
			<key>games/scmj/game/menu_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,1928},{89,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,37}</string>
			</dict>
			<key>games/scmj/game/menu_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1928},{89,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,38}</string>
			</dict>
			<key>games/scmj/game/menu_title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1935},{90,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,38}</string>
			</dict>
			<key>games/scmj/game/menu_title_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1965},{89,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,37}</string>
			</dict>
			<key>games/scmj/game/mj_layerBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,1498},{437,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{437,348}</string>
			</dict>
			<key>games/scmj/game/text_Prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1997},{375,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,38}</string>
			</dict>
			<key>games/scmj/game/text_promptBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1495},{363,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,188}</string>
			</dict>
			<key>games/scmj/game/text_TS1.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,706},{231,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,126}</string>
			</dict>
			<key>games/scmj/game/text_TS2.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,834},{276,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,150}</string>
			</dict>
			<key>games/scmj/game/text_TS3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,1862},{306,167}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,167}</string>
			</dict>
			<key>games/scmj/game/wind1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,327},{205,250}}</string>
				<key>offset</key>
				<string>{-3,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,319}</string>
			</dict>
			<key>games/scmj/game/wind10.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,212},{204,279}}</string>
				<key>offset</key>
				<string>{-3,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,319}</string>
			</dict>
			<key>games/scmj/game/wind11.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,212},{189,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,110}</string>
			</dict>
			<key>games/scmj/game/wind12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,827},{231,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,136}</string>
			</dict>
			<key>games/scmj/game/wind13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,0},{257,151}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,152}</string>
			</dict>
			<key>games/scmj/game/wind2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,330},{206,253}}</string>
				<key>offset</key>
				<string>{-2,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,319}</string>
			</dict>
			<key>games/scmj/game/wind3.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,416},{212,264}}</string>
				<key>offset</key>
				<string>{2,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,319}</string>
			</dict>
			<key>games/scmj/game/wind4.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,0},{218,267}}</string>
				<key>offset</key>
				<string>{-1,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,319}</string>
			</dict>
			<key>games/scmj/game/wind5.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,628},{206,266}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,319}</string>
			</dict>
			<key>games/scmj/game/wind6.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,984},{206,266}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,319}</string>
			</dict>
			<key>games/scmj/game/wind7.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,0},{212,277}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,319}</string>
			</dict>
			<key>games/scmj/game/wind8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1425,0},{211,280}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,319}</string>
			</dict>
			<key>games/scmj/game/wind9.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,218},{204,276}}</string>
				<key>offset</key>
				<string>{-3,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,319}</string>
			</dict>
			<key>games/scmj/game/cloud_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1965},{70,53}}</string>
				<key>offset</key>
				<string>{4,261}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/cloud_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,988},{414,510}}</string>
				<key>offset</key>
				<string>{-1,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/cloud_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,1495},{162,367}}</string>
				<key>offset</key>
				<string>{87,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/cloud_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,807},{177,127}}</string>
				<key>offset</key>
				<string>{1,224}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/cloud_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,416},{290,165}}</string>
				<key>offset</key>
				<string>{-8,205}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/cloud_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,0},{330,154}}</string>
				<key>offset</key>
				<string>{-14,210}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/cloud_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,695},{242,154}}</string>
				<key>offset</key>
				<string>{13,210}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/cloud_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,536},{252,159}}</string>
				<key>offset</key>
				<string>{13,208}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/cloud_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{431,494}}</string>
				<key>offset</key>
				<string>{-6,40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/cloud_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,494},{431,494}}</string>
				<key>offset</key>
				<string>{-6,40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/cloud_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1498},{350,499}}</string>
				<key>offset</key>
				<string>{-12,38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,574}</string>
			</dict>
			<key>games/scmj/game/wordConfirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1935},{86,42}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,44}</string>
			</dict>
			<key>games/scmj/game/wordLeftKh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,2002},{15,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,37}</string>
			</dict>
			<key>games/scmj/game/wordRightKh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,2002},{15,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,37}</string>
			</dict>
			<key>games/scmj/game/image_type1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,1170},{194,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>
			<key>games/scmj/game/image_type2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,963},{194,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>
			<key>games/scmj/game/image_type3.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,973},{195,197}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>
			<key>games/scmj/game/Image_textDQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,1935},{161,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,51}</string>
			</dict>
			<key>games/scmj/game/cloud_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,211},{186,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,114}</string>
			</dict>
			<key>games/scmj/game/cloud_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,566},{228,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,139}</string>
			</dict>
			<key>games/scmj/game/cloud_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,1250},{251,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,153}</string>
			</dict>
			<key>games/scmj/game/order1.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1986},{118,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,49}</string>
			</dict>
			<key>games/scmj/game/order2.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1986},{118,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,49}</string>
			</dict>
			<key>games/scmj/game/order3.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1935},{77,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,48}</string>
			</dict>
			<key>games/scmj/game/mj_layerBG_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,988},{437,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{437,348}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_1.png</string>
			<key>realTextureFileName</key>
			<string>game_1.png</string>
			<key>size</key>
			<string>{1962,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1962</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>