<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/bj/comm/BG16.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,839},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/bj/comm/BG18.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,839},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>games/bj/comm/BG7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1007},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>games/bj/comm/bgMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,742},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>games/bj/comm/btn_bule_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,710},{176,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,82}</string>
			</dict>
			<key>games/bj/comm/btn_colse.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,687},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>games/bj/comm/btn_green_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,558},{176,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,82}</string>
			</dict>
			<key>games/bj/comm/btn_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,839},{133,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,36}</string>
			</dict>
			<key>games/bj/comm/btn_text_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,929},{79,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,43}</string>
			</dict>
			<key>games/bj/comm/btn_text_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,976},{79,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,43}</string>
			</dict>
			<key>games/bj/comm/btn_text_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,781},{135,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,36}</string>
			</dict>
			<key>games/bj/comm/btn_text_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,976},{133,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,36}</string>
			</dict>
			<key>games/bj/comm/btn_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,799},{83,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,36}</string>
			</dict>
			<key>games/bj/comm/btn_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,905},{90,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,36}</string>
			</dict>
			<key>games/bj/comm/btn_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,923},{89,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,35}</string>
			</dict>
			<key>games/bj/comm/btn_yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,2},{239,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,106}</string>
			</dict>
			<key>games/bj/comm/btn_yellow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,558},{154,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,71}</string>
			</dict>
			<key>games/bj/comm/image_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,492},{506,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{506,114}</string>
			</dict>
			<key>games/bj/comm/image_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,558},{148,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,146}</string>
			</dict>
			<key>games/bj/comm/image_box_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,930},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>games/bj/comm/image_box_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,829},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/bj/comm/image_box_select_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,945},{55,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>games/bj/comm/image_box_select_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,799},{53,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>
			<key>games/bj/comm/img_record_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1002},{292,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,1}</string>
			</dict>
			<key>games/bj/comm/text_setting_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,558},{180,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>games/bj/game/chat_menu_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,742},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/bj/game/chat_menu_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,856},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/bj/game/chat_menu_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,957},{102,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,35}</string>
			</dict>
			<key>games/bj/game/chat_menu_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,799},{102,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,35}</string>
			</dict>
			<key>games/bj/game/image_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,779},{46,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,43}</string>
			</dict>
			<key>games/bj/game/image_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,687},{108,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,64}</string>
			</dict>
			<key>games/bj/game/image_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,492},{78,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,351}</string>
			</dict>
			<key>games/bj/game/image_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,492},{87,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,375}</string>
			</dict>
			<key>games/bj/game/image_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,492},{544,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,62}</string>
			</dict>
			<key>games/bj/game/result_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,687},{45,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,129}</string>
			</dict>
			<key>games/bj/game/result_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,742},{45,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,130}</string>
			</dict>
			<key>games/bj/game/rule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,245},{32,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,28}</string>
			</dict>
			<key>games/bj/game/rule_play_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,893},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/bj/game/rule_play_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,779},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/bj/game/rule_room_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,781},{135,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,33}</string>
			</dict>
			<key>games/bj/game/rule_room_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,920},{135,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,33}</string>
			</dict>
			<key>games/bj/game/rule_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,2},{287,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,66}</string>
			</dict>
			<key>games/bj/game/rule_title_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,293},{287,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,66}</string>
			</dict>
			<key>games/bj/game/signal.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,281},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,24}</string>
			</dict>
			<key>games/bj/game/text_dissolve_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,796},{325,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{325,39}</string>
			</dict>
			<key>games/bj/game/text_record_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,644},{325,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{325,39}</string>
			</dict>
			<key>games/bj/game/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,245},{326,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,74}</string>
			</dict>
			<key>games/bj/game/image_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{296,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,486}</string>
			</dict>
			<key>games/bj/game/Btn_Tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,923},{93,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,41}</string>
			</dict>
			<key>games/bj/game/Sp_TipBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,871},{252,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,125}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_4.png</string>
			<key>realTextureFileName</key>
			<string>game_4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>