<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/bj/game/Bg_Mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,992},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>games/bj/game/bgMsgBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,2},{129,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>games/bj/game/Btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,2},{217,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,83}</string>
			</dict>
			<key>games/bj/game/Image_Time.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,89},{83,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,120}</string>
			</dict>
			<key>games/bj/game/Sp_santiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,842},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/bj/game/Sp_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,281},{28,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,30}</string>
			</dict>
			<key>games/bj/game/Sp_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,2},{280,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,61}</string>
			</dict>
			<key>games/bj/game/Sp_shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,797},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/bj/game/Sp_tiezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,837},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/bj/game/Sp_tonghua.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,797},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/bj/game/Sp_tonghuashun.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,955},{89,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,33}</string>
			</dict>
			<key>games/bj/game/Sp_wulong.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,720},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/bj/game/Sp_wutong.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,666},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>games/bj/game/Text_finish.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,571},{91,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,52}</string>
			</dict>
			<key>games/bj/game/Text_Finish1.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,349},{83,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,39}</string>
			</dict>
			<key>games/bj/game/Text_settle.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,396},{136,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,53}</string>
			</dict>
			<key>games/bj/game/Text_specialcards.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,213},{179,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,52}</string>
			</dict>
			<key>games/bj/game/Sp_toudao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,436},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/bj/game/Sp_toudao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,525},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/bj/game/Sp_weidao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,614},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/bj/game/Sp_weidao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,631},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/bj/game/Sp_zhongdao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,703},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/bj/game/Sp_zhongdao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,708},{85,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,38}</string>
			</dict>
			<key>games/bj/game/Sp_zongfen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,335},{114,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,49}</string>
			</dict>
			<key>games/bj/game/Sp_zongfen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,453},{114,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,49}</string>
			</dict>
			<key>games/bj/game/Sp_Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,473},{75,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,44}</string>
			</dict>
			<key>games/bj/game/Sp_DifenBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,536},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/bj/game/Sp_Reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,552},{75,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,44}</string>
			</dict>
			<key>games/bj/game/Sp_specialcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,886},{91,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,31}</string>
			</dict>
			<key>games/bj/game/Sp_tiezhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,603},{61,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,33}</string>
			</dict>
			<key>games/bj/game/Sp_tonghuashun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,666},{90,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,33}</string>
			</dict>
			<key>games/bj/game/Sp_wutong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,603},{61,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,33}</string>
			</dict>
			<key>games/bj/game/Sp_B(.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,89},{20,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,44}</string>
			</dict>
			<key>games/bj/game/Sp_B).png</key>
			<dict>
				<key>frame</key>
				<string>{{685,233},{19,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,44}</string>
			</dict>
			<key>games/bj/game/Sp_Y(.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,137},{20,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,44}</string>
			</dict>
			<key>games/bj/game/Sp_Y).png</key>
			<dict>
				<key>frame</key>
				<string>{{661,261},{19,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,44}</string>
			</dict>
			<key>games/bj/game/banker_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,135},{165,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,43}</string>
			</dict>
			<key>games/bj/game/base_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,304},{165,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,43}</string>
			</dict>
			<key>games/bj/game/battery_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,185},{44,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,20}</string>
			</dict>
			<key>games/bj/game/battery_value.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,213},{44,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,20}</string>
			</dict>
			<key>games/bj/game/btn_gray_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,2},{239,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,106}</string>
			</dict>
			<key>games/bj/game/btn_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,643},{101,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,45}</string>
			</dict>
			<key>games/bj/game/btn_text_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,496},{102,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,47}</string>
			</dict>
			<key>games/bj/game/btn_text_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,315},{176,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,49}</string>
			</dict>
			<key>games/bj/game/btn_text_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,323},{177,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,46}</string>
			</dict>
			<key>games/bj/game/btn_text_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,2},{144,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,38}</string>
			</dict>
			<key>games/bj/game/btn_text_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,135},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>games/bj/game/btn_text_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,2},{227,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,53}</string>
			</dict>
			<key>games/bj/game/btn_text_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,89},{230,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,48}</string>
			</dict>
			<key>games/bj/game/btn_text_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,570},{103,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,45}</string>
			</dict>
			<key>games/bj/game/btn_text_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,287},{144,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,40}</string>
			</dict>
			<key>games/bj/game/btn_text_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,150},{133,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,36}</string>
			</dict>
			<key>games/bj/game/btn_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,677},{101,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,45}</string>
			</dict>
			<key>games/bj/game/btn_text_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,463},{103,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,47}</string>
			</dict>
			<key>games/bj/game/btn_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,538},{101,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,46}</string>
			</dict>
			<key>games/bj/game/btn_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,495},{104,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,47}</string>
			</dict>
			<key>games/bj/game/btn_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,286},{101,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,48}</string>
			</dict>
			<key>games/bj/game/btn_text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,391},{101,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,48}</string>
			</dict>
			<key>games/bj/game/btn_text_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,602},{102,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,45}</string>
			</dict>
			<key>games/bj/game/btn_text_shareFri.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,233},{226,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,52}</string>
			</dict>
			<key>games/bj/game/btn_text_shareWx.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,89},{232,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,48}</string>
			</dict>
			<key>games/bj/game/btn_text_ty.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,748},{89,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,36}</string>
			</dict>
			<key>games/bj/game/btn_text_tyhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,782},{89,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,36}</string>
			</dict>
			<key>games/bj/game/Sp_TipBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{252,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,125}</string>
			</dict>
			<key>games/bj/game/Btn_Tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,252},{93,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,41}</string>
			</dict>
			<key>games/bj/game/Text_SanTiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,841},{76,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,41}</string>
			</dict>
			<key>games/bj/game/Text_ShunZi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,875},{76,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,41}</string>
			</dict>
			<key>games/bj/game/Text_TongHua.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,797},{76,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,41}</string>
			</dict>
			<key>games/bj/game/Text_TongHuaShun.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,135},{113,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,42}</string>
			</dict>
			<key>games/bj/game/Text_DuiZi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,720},{76,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,41}</string>
			</dict>
			<key>games/bj/game/Text_MaxAndNim.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,603},{90,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,33}</string>
			</dict>
			<key>games/bj/game/Text_JHuaSe.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,536},{90,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,33}</string>
			</dict>
			<key>games/bj/game/Sp_XiPaiFen.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,435},{99,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_2.png</string>
			<key>realTextureFileName</key>
			<string>game_2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>