<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/bj/game/Sp_TongGuanLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,88},{132,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>
			<key>games/bj/game/Sp_TongGuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,205},{67,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,40}</string>
			</dict>
			<key>games/bj/game/cards/BigGui.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,89},{101,123}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,124}</string>
			</dict>
			<key>games/bj/game/cards/SmalGui.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,247},{101,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,124}</string>
			</dict>
			<key>games/bj/game/cards/Sp_OtherPai.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,183},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>games/bj/game/Sp_LeaveRoom.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,71},{202,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,86}</string>
			</dict>
			<key>games/bj/game/Sp_Sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,2},{219,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,83}</string>
			</dict>
			<key>games/bj/game/Sp_Continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{238,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,109}</string>
			</dict>
			<key>games/bj/game/Sp_Cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,2},{217,82}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,83}</string>
			</dict>
			<key>games/bj/game/Sp_MaxAndMin.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,161},{176,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,82}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,194},{87,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,34}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,115},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai10.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,235},{123,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai11.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,2},{197,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai12.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,247},{123,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,115},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,248},{123,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,71},{160,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,362},{123,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,167},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai7.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,88},{160,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,191},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>games/bj/game/Sp_XiPai9.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,425},{123,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,48}</string>
			</dict>
			<key>games/bj/game/button/btnBackY.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,253},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>games/bj/game/button/btnChatY.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,352},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/bj/game/button/btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,89},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>games/bj/game/button/btnCloseBullInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,303},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>games/bj/game/button/btnDissolution.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,194},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>games/bj/game/button/btnHelpY.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,299},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>games/bj/game/button/btnMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,352},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/bj/game/button/btnRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,489},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/bj/game/button/btnSettingY.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,247},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>games/bj/game/button/btnSurplus.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,203},{134,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,61}</string>
			</dict>
			<key>games/bj/game/button/btnTab.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,2},{265,65}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,69}</string>
			</dict>
			<key>games/bj/game/button/btnTipsY.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,552},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/bj/game/button/btnVoiceY.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,115},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>games/bj/game/button/textDis.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,252},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>games/bj/game/button/textReturn.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,374},{125,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,35}</string>
			</dict>
			<key>games/bj/game/button/textReturnLobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,232},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>
			<key>games/bj/game/button/textRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,375},{125,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,33}</string>
			</dict>
			<key>games/bj/game/button/textSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,253},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/bj/game/img/iconPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,341},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/bj/game/img/iconClock.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,232},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>
			<key>games/bj/game/img/iconBigWinner.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,224},{120,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,95}</string>
			</dict>
			<key>games/bj/game/img/BG20.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,195},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>games/bj/game/img/BG19.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,161},{30,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,27}</string>
			</dict>
			<key>games/bj/game/img/BG14.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,204},{39,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,17}</string>
			</dict>
			<key>games/bj/game/img/BG15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,2},{31,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,11}</string>
			</dict>
			<key>games/bj/game/Sp_settle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,226},{18,22}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,22}</string>
			</dict>
			<key>games/bj/game/Sp_settle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,158},{42,22}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,22}</string>
			</dict>
			<key>games/bj/game/Sp_settle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,88},{66,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_3.png</string>
			<key>realTextureFileName</key>
			<string>game_3.png</string>
			<key>size</key>
			<string>{1022,626}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>626</integer>
		</dict>
	</dict>
</plist>