<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/bj/game/cards/hei1.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,114},{35,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei10.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,253},{48,52}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei11.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,57},{30,51}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei12.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,469},{33,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei13.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,456},{33,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei2.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,419},{33,51}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei3.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,134},{33,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei4.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,212},{36,50}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei5.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,58},{34,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei6.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,110},{34,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei7.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,190},{33,50}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei8.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,148},{34,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hei9.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,307},{33,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,2},{35,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong10.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,309},{48,52}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong11.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,2},{30,51}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong12.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,469},{33,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong13.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,456},{33,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,242},{33,51}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong3.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,363},{33,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong4.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,2},{36,50}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong5.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,2},{34,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong6.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,2},{34,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong7.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,134},{33,50}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong8.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,58},{34,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/hong9.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,419},{33,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/Image_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,168},{99,100}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/bj/game/cards/Image_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,382},{97,98}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/bj/game/cards/Image_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,272},{106,93}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/bj/game/cards/Image_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,272},{95,99}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>games/bj/game/cards/Sp_Pai.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{120,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,162}</string>
			</dict>
			<key>games/bj/game/cards/Sp_PaiBei.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,375},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>games/bj/game/cards/type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,297},{31,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/bj/game/cards/type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,39},{31,33}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/bj/game/cards/type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,133},{34,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/bj/game/cards/type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,91},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/bj/game/cards/lan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,58},{35,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan10.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,2},{48,52}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan11.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,2},{30,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan12.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,153},{33,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan13.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,297},{33,51}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,242},{33,51}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,307},{33,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,56},{36,50}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,252},{34,51}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan6.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,96},{34,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan7.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,96},{33,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan8.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,2},{34,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lan9.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,363},{33,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,114},{35,52}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lv10.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,58},{48,52}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/lv5.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,204},{34,51}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>games/bj/game/cards/Image_gui.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,168},{81,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,114}</string>
			</dict>
			<key>games/bj/game/cards/Image_ma.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,375},{74,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,112}</string>
			</dict>
			<key>games/bj/game/cards/type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,352},{33,32}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>games/bj/game/cards/type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,2},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_1.png</string>
			<key>realTextureFileName</key>
			<string>game_1.png</string>
			<key>size</key>
			<string>{473,509}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>473</integer>
			<key>height</key>
			<integer>509</integer>
		</dict>
	</dict>
</plist>