<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/mlnn/game/banker_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,451},{165,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,43}</string>
			</dict>
			<key>games/mlnn/game/base_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,173},{165,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,43}</string>
			</dict>
			<key>games/mlnn/game/battery_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,228},{44,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,20}</string>
			</dict>
			<key>games/mlnn/game/battery_value.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,274},{44,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,20}</string>
			</dict>
			<key>games/mlnn/game/btn_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1207},{101,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,45}</string>
			</dict>
			<key>games/mlnn/game/btn_text_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1316},{102,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,47}</string>
			</dict>
			<key>games/mlnn/game/btn_text_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,173},{176,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,49}</string>
			</dict>
			<key>games/mlnn/game/btn_text_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,451},{177,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,46}</string>
			</dict>
			<key>games/mlnn/game/btn_text_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1035},{144,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,38}</string>
			</dict>
			<key>games/mlnn/game/btn_text_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,504},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>games/mlnn/game/btn_text_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,584},{227,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,53}</string>
			</dict>
			<key>games/mlnn/game/btn_text_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,504},{230,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,48}</string>
			</dict>
			<key>games/mlnn/game/btn_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,1209},{101,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,45}</string>
			</dict>
			<key>games/mlnn/game/btn_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1159},{101,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,46}</string>
			</dict>
			<key>games/mlnn/game/btn_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,891},{104,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,47}</string>
			</dict>
			<key>games/mlnn/game/btn_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,1000},{101,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,48}</string>
			</dict>
			<key>games/mlnn/game/btn_text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1103},{101,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,48}</string>
			</dict>
			<key>games/mlnn/game/btn_text_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,844},{102,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,45}</string>
			</dict>
			<key>games/mlnn/game/btn_text_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,894},{102,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,46}</string>
			</dict>
			<key>games/mlnn/game/btn_text_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,838},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>
			<key>games/mlnn/game/button_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,228},{228,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,96}</string>
			</dict>
			<key>games/mlnn/game/button_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,287},{196,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,96}</string>
			</dict>
			<key>games/mlnn/game/imgText_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,504},{180,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>games/mlnn/game/imgText_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,712},{180,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>games/mlnn/game/imgText_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,451},{112,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,50}</string>
			</dict>
			<key>games/mlnn/game/imgText_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,686},{103,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,56}</string>
			</dict>
			<key>games/mlnn/game/niu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1229},{155,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,80}</string>
			</dict>
			<key>games/mlnn/game/niu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,747},{155,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,80}</string>
			</dict>
			<key>games/mlnn/game/niu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,942},{155,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,80}</string>
			</dict>
			<key>games/mlnn/game/niu_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,747},{155,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,80}</string>
			</dict>
			<key>games/mlnn/game/niu_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,940},{155,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,80}</string>
			</dict>
			<key>games/mlnn/game/niu_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,829},{155,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,80}</string>
			</dict>
			<key>games/mlnn/game/niu_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1119},{129,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,80}</string>
			</dict>
			<key>games/mlnn/game/niu_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1201},{129,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,80}</string>
			</dict>
			<key>games/mlnn/game/niu_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1250},{129,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,80}</string>
			</dict>
			<key>games/mlnn/game/niu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1},{266,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,117}</string>
			</dict>
			<key>games/mlnn/game/rule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,458},{32,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,28}</string>
			</dict>
			<key>games/mlnn/game/signal.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,492},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,24}</string>
			</dict>
			<key>games/mlnn/game/timer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,723},{154,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,127}</string>
			</dict>
			<key>games/mlnn/game/timer_blink.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,879},{154,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,127}</string>
			</dict>
			<key>games/mlnn/game/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,228},{326,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,74}</string>
			</dict>
			<key>games/mlnn/game/niu_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,1229},{127,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,79}</string>
			</dict>
			<key>games/mlnn/game/niu_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1332},{127,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,79}</string>
			</dict>
			<key>games/mlnn/game/niu_0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1358},{127,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,79}</string>
			</dict>
			<key>games/mlnn/game/niu_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1286},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/mlnn/game/niu_10_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1311},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/mlnn/game/niu_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,911},{145,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,76}</string>
			</dict>
			<key>games/mlnn/game/niu_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1058},{145,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,76}</string>
			</dict>
			<key>games/mlnn/game/niu_11_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1332},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/mlnn/game/niu_11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,485},{192,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,90}</string>
			</dict>
			<key>games/mlnn/game/niu_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,679},{192,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,90}</string>
			</dict>
			<key>games/mlnn/game/niu_11_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,873},{192,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,90}</string>
			</dict>
			<key>games/mlnn/game/niu_11_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,1035},{192,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,90}</string>
			</dict>
			<key>games/mlnn/game/niu_11_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1067},{192,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,90}</string>
			</dict>
			<key>games/mlnn/game/niu_11_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1067},{192,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,90}</string>
			</dict>
			<key>games/mlnn/game/niu_11_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,844},{192,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,90}</string>
			</dict>
			<key>games/mlnn/game/niu_12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,556},{156,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,98}</string>
			</dict>
			<key>games/mlnn/game/niu_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,554},{156,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,98}</string>
			</dict>
			<key>games/mlnn/game/niu_12_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,554},{156,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,98}</string>
			</dict>
			<key>games/mlnn/game/niu_12_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,351},{156,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,98}</string>
			</dict>
			<key>games/mlnn/game/niu_12_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,351},{156,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,98}</string>
			</dict>
			<key>games/mlnn/game/niu_12_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,351},{156,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,98}</string>
			</dict>
			<key>games/mlnn/game/niu_12_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,173},{156,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,98}</string>
			</dict>
			<key>games/mlnn/game/btn_text_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1420},{102,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,47}</string>
			</dict>
			<key>games/mlnn/game/btn_text_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,503},{145,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,44}</string>
			</dict>
			<key>games/mlnn/game/btn_text_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,689},{132,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,36}</string>
			</dict>
			<key>games/mlnn/game/btn_text_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1378},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>games/mlnn/game/btn_text_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1159},{102,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,46}</string>
			</dict>
			<key>games/mlnn/game/niu_13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,747},{147,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,89}</string>
			</dict>
			<key>games/mlnn/game/niu_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,173},{147,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,89}</string>
			</dict>
			<key>games/mlnn/game/niu_13_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,173},{147,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,89}</string>
			</dict>
			<key>games/mlnn/game/niu_13_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,173},{147,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,89}</string>
			</dict>
			<key>games/mlnn/game/niu_13_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,554},{147,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,89}</string>
			</dict>
			<key>games/mlnn/game/niu_13_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,703},{147,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,89}</string>
			</dict>
			<key>games/mlnn/game/niu_13_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,942},{147,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,89}</string>
			</dict>
			<key>games/mlnn/game/rule_play_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,666},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/mlnn/game/rule_play_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1144},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/mlnn/game/rule_room_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,712},{135,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,33}</string>
			</dict>
			<key>games/mlnn/game/rule_room_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1024},{135,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,33}</string>
			</dict>
			<key>games/mlnn/game/rule_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,458},{287,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,66}</string>
			</dict>
			<key>games/mlnn/game/rule_title_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,555},{287,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,66}</string>
			</dict>
			<key>games/mlnn/game/btn_text_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1181},{133,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,36}</string>
			</dict>
			<key>games/mlnn/game/btn_text_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1206},{103,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,47}</string>
			</dict>
			<key>games/mlnn/game/test_base_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1357},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/mlnn/game/text_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1205},{72,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,67}</string>
			</dict>
			<key>games/mlnn/game/text_base_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1067},{132,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,79}</string>
			</dict>
			<key>games/mlnn/game/text_dissolve_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,228},{325,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{325,39}</string>
			</dict>
			<key>games/mlnn/game/text_record_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,257},{325,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{325,39}</string>
			</dict>
			<key>games/mlnn/game/numLost.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1},{40,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,720}</string>
			</dict>
			<key>games/mlnn/game/numWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1},{40,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,720}</string>
			</dict>
			<key>games/mlnn/game/btn_text_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1024},{134,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,35}</string>
			</dict>
			<key>games/mlnn/game/btn_text_jjue.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,1002},{83,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,34}</string>
			</dict>
			<key>games/mlnn/game/btn_text_jjuehui.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1114},{83,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,34}</string>
			</dict>
			<key>games/mlnn/game/btn_text_lkfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,904},{132,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,36}</string>
			</dict>
			<key>games/mlnn/game/btn_text_shareFri.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,813},{226,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,52}</string>
			</dict>
			<key>games/mlnn/game/btn_text_shareWx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1159},{232,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,48}</string>
			</dict>
			<key>games/mlnn/game/btn_text_ty.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1087},{89,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,36}</string>
			</dict>
			<key>games/mlnn/game/btn_text_tyhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1178},{89,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,36}</string>
			</dict>
			<key>games/mlnn/game/image_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,1322},{46,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,43}</string>
			</dict>
			<key>games/mlnn/game/image_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,556},{108,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,64}</string>
			</dict>
			<key>games/mlnn/comm/BG16.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1147},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/mlnn/comm/BG18.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1059},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>games/mlnn/comm/bgMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1229},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>games/mlnn/comm/btn_bule_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,65},{239,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,106}</string>
			</dict>
			<key>games/mlnn/comm/btn_colse.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1041},{76,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,78}</string>
			</dict>
			<key>games/mlnn/comm/btn_green_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,1},{284,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,106}</string>
			</dict>
			<key>games/mlnn/comm/btn_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,554},{133,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,36}</string>
			</dict>
			<key>games/mlnn/comm/btn_text_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,747},{79,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,43}</string>
			</dict>
			<key>games/mlnn/comm/btn_text_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1205},{79,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,43}</string>
			</dict>
			<key>games/mlnn/comm/btn_text_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,120},{135,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,36}</string>
			</dict>
			<key>games/mlnn/comm/btn_text_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,650},{133,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,36}</string>
			</dict>
			<key>games/mlnn/comm/btn_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1059},{83,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,36}</string>
			</dict>
			<key>games/mlnn/comm/btn_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1022},{90,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,36}</string>
			</dict>
			<key>games/mlnn/comm/btn_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,911},{89,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,35}</string>
			</dict>
			<key>games/mlnn/comm/btn_yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,65},{239,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,106}</string>
			</dict>
			<key>games/mlnn/comm/btn_yellow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,844},{154,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,71}</string>
			</dict>
			<key>games/mlnn/comm/image_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,65},{437,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{437,50}</string>
			</dict>
			<key>games/mlnn/comm/image_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{544,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,62}</string>
			</dict>
			<key>games/mlnn/comm/image_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1316},{148,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,146}</string>
			</dict>
			<key>games/mlnn/comm/image_box_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1279},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>games/mlnn/comm/image_box_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1337},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/mlnn/comm/image_box_select_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1286},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>games/mlnn/comm/image_box_select_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1274},{53,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>
			<key>games/mlnn/comm/img_record_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1},{292,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,1}</string>
			</dict>
			<key>games/mlnn/comm/BG7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>games/mlnn/game/btn_gray_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,120},{239,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,106}</string>
			</dict>
			<key>games/mlnn/comm/text_setting_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,852},{116,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,37}</string>
			</dict>
			<key>games/mlnn/comm/image_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1229},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_2.png</string>
			<key>realTextureFileName</key>
			<string>game_2.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>