<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/mlnn/game/game_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{667,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{667,750}</string>
			</dict>
			<key>games/mlnn/game/game_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,956},{59,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,153}</string>
			</dict>
			<key>games/mlnn/game/game_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1},{344,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,750}</string>
			</dict>
			<key>games/mlnn/game/game_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,753},{201,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,750}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_3.png</string>
			<key>realTextureFileName</key>
			<string>game_3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>