<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/common/img/bgMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,579},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>game/common/img/Button_Yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,278},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>game/common/img/ButtonJoinNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,189},{196,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,87}</string>
			</dict>
			<key>game/common/img/Button_Green.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,52},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>game/common/img/createRoom_ani_arrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,247},{85,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,133}</string>
			</dict>
			<key>game/common/img/createRoom_ani_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,149},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,97}</string>
			</dict>
			<key>game/common/img/createRoom_ani_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,137},{227,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,60}</string>
			</dict>
			<key>game/common/img/createRoom_baseAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,503},{74,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,44}</string>
			</dict>
			<key>game/common/img/createRoom_baseBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,297},{30,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,44}</string>
			</dict>
			<key>game/common/img/createRoom_baseDel.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,547},{74,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,44}</string>
			</dict>
			<key>game/common/img/createRoom_bigBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,571},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>game/common/img/createRoom_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,178},{244,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,86}</string>
			</dict>
			<key>game/common/img/createRoom_btnNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,266},{244,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,86}</string>
			</dict>
			<key>game/common/img/createRoom_btnSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,89},{267,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,87}</string>
			</dict>
			<key>game/common/img/createRoom_closeBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,247},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/common/img/createRoom_createTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,297},{147,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,41}</string>
			</dict>
			<key>game/common/img/createRoom_freeFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,470},{52,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,35}</string>
			</dict>
			<key>game/common/img/createRoom_gz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,366},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>
			<key>game/common/img/createRoom_menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,382},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>game/common/img/createRoom_menuBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,463},{58,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,72}</string>
			</dict>
			<key>game/common/img/createRoom_menuMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1},{23,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,14}</string>
			</dict>
			<key>game/common/img/createRoom_moreBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{274,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,86}</string>
			</dict>
			<key>game/common/img/createRoom_moreNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,247},{189,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,32}</string>
			</dict>
			<key>game/common/img/createRoom_moreSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,377},{192,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,35}</string>
			</dict>
			<key>game/common/img/createRoom_mulOptionBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,622},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>game/common/img/createRoom_mulOptionMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,524},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>game/common/img/createRoom_newFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,453},{92,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,36}</string>
			</dict>
			<key>game/common/img/createRoom_noOpenFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,431},{92,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,36}</string>
			</dict>
			<key>game/common/img/createRoom_oneOptionBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,611},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>game/common/img/createRoom_oneOptionMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,560},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>game/common/img/createRoom_voiceBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,270},{81,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,74}</string>
			</dict>
			<key>game/common/img/createRoom_voiceBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,622},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>game/common/img/joinRoom_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,187},{104,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,81}</string>
			</dict>
			<key>game/common/img/joinRoom_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,1},{2,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,60}</string>
			</dict>
			<key>game/common/img/joinRoom_num_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,568},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,478},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,523},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,524},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,525},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,571},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,616},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,526},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,573},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,619},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,664},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,574},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/panel_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1},{374,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{374,70}</string>
			</dict>
			<key>game/common/img/roomSettingBtn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,377},{158,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,32}</string>
			</dict>
			<key>game/common/img/roomSettingBtn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,438},{158,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,32}</string>
			</dict>
			<key>game/common/img/title_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,612},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,632},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,655},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,659},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,632},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,478},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,634},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,671},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/view_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,52},{129,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>game/common/img/img_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,386},{86,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,43}</string>
			</dict>
			<key>game/common/img/img_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,415},{86,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,41}</string>
			</dict>
			<key>game/common/img/checkBox_gray_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,623},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>game/common/img/checkBox_gray_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,650},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>game/common/img/Button_Bule.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,52},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>game/common/img/btn_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,571},{101,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,38}</string>
			</dict>
			<key>game/common/img/btn_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,346},{101,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,38}</string>
			</dict>
			<key>game/common/img/btn_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,339},{112,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,35}</string>
			</dict>
			<key>game/common/img/btn_title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,431},{84,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,39}</string>
			</dict>
			<key>game/common/img/record_cell.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,178},{47,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,337}</string>
			</dict>
			<key>game/common/img/title_text_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,521},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,677},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,564},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,607},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/record_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,46},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>game/common/img/record_detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{654,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{654,49}</string>
			</dict>
			<key>game/common/img/record_button_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,354},{243,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,75}</string>
			</dict>
			<key>game/common/img/record_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,377},{243,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,75}</string>
			</dict>
			<key>game/common/img/btn_watchOthers.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,149},{188,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,36}</string>
			</dict>
			<key>game/common/img/bg_editBoxBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,339},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>game/common/img/btn_recordSure.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,52},{174,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,83}</string>
			</dict>
			<key>game/common/img/createRoom_detailBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,456},{66,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,68}</string>
			</dict>
			<key>game/common/img/createRoom_detailIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,664},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>game/common/img/createRoom_detailMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,26},{18,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,14}</string>
			</dict>
			<key>game/common/img/Text_nextDay.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,375},{101,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,38}</string>
			</dict>
			<key>game/common/img/Text_yesterday.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,375},{101,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,38}</string>
			</dict>
			<key>game/common/img/img_smallBgRecharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,137},{108,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,112}</string>
			</dict>
			<key>game/common/img/createRoom_sale.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,517},{52,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,35}</string>
			</dict>
			<key>game/common/img/shareRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,386},{82,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,34}</string>
			</dict>
			<key>game/common/img/create_friend_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,149},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,42}</string>
			</dict>
			<key>game/common/img/create_friend_unSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,446},{112,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CreateRoomPlist0.png</string>
			<key>realTextureFileName</key>
			<string>CreateRoomPlist0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>