<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/common/img/bgMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,565},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>game/common/img/Button_Yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,52},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>game/common/img/ButtonJoinNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,189},{196,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,87}</string>
			</dict>
			<key>game/common/img/Button_Green.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,52},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>game/common/img/createRoom_ani_arrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,272},{85,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,133}</string>
			</dict>
			<key>game/common/img/createRoom_ani_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,296},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,97}</string>
			</dict>
			<key>game/common/img/createRoom_ani_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,149},{227,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,60}</string>
			</dict>
			<key>game/common/img/createRoom_baseAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,498},{74,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,44}</string>
			</dict>
			<key>game/common/img/createRoom_baseBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,519},{30,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,44}</string>
			</dict>
			<key>game/common/img/createRoom_baseDel.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,523},{74,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,44}</string>
			</dict>
			<key>game/common/img/createRoom_bigBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,462},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>game/common/img/createRoom_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,178},{244,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,86}</string>
			</dict>
			<key>game/common/img/createRoom_btnNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,266},{244,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,86}</string>
			</dict>
			<key>game/common/img/createRoom_btnSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,89},{267,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,87}</string>
			</dict>
			<key>game/common/img/createRoom_closeBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,359},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/common/img/createRoom_createTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,297},{147,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,41}</string>
			</dict>
			<key>game/common/img/createRoom_freeFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,622},{52,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,35}</string>
			</dict>
			<key>game/common/img/createRoom_gz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,394},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>
			<key>game/common/img/createRoom_menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,484},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>game/common/img/createRoom_menuBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,513},{58,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,72}</string>
			</dict>
			<key>game/common/img/createRoom_menuMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1},{23,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,14}</string>
			</dict>
			<key>game/common/img/createRoom_moreBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{274,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,86}</string>
			</dict>
			<key>game/common/img/createRoom_moreNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,149},{189,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,32}</string>
			</dict>
			<key>game/common/img/createRoom_moreSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,149},{192,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,35}</string>
			</dict>
			<key>game/common/img/createRoom_mulOptionBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,673},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>game/common/img/createRoom_mulOptionMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,661},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>game/common/img/createRoom_newFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,567},{92,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,36}</string>
			</dict>
			<key>game/common/img/createRoom_noOpenFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,622},{92,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,36}</string>
			</dict>
			<key>game/common/img/createRoom_oneOptionBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,525},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>game/common/img/createRoom_oneOptionMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,525},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>game/common/img/createRoom_voiceBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,361},{81,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,74}</string>
			</dict>
			<key>game/common/img/createRoom_voiceBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,685},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>game/common/img/joinRoom_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,378},{104,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,81}</string>
			</dict>
			<key>game/common/img/joinRoom_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,1},{2,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,60}</string>
			</dict>
			<key>game/common/img/joinRoom_num_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,565},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,613},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,446},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,410},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,676},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,716},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,693},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,702},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,703},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,724},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,764},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/joinRoom_num_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,431},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>game/common/img/panel_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1},{374,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{374,70}</string>
			</dict>
			<key>game/common/img/roomSettingBtn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,340},{158,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,32}</string>
			</dict>
			<key>game/common/img/roomSettingBtn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,377},{158,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,32}</string>
			</dict>
			<key>game/common/img/title_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,574},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,615},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,617},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,658},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,621},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,660},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,599},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,607},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/view_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,52},{129,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,135}</string>
			</dict>
			<key>game/common/img/img_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,519},{86,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,43}</string>
			</dict>
			<key>game/common/img/img_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,573},{86,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,41}</string>
			</dict>
			<key>game/common/img/checkBox_gray_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,573},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>game/common/img/checkBox_gray_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,661},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>game/common/img/Button_Bule.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,52},{168,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,95}</string>
			</dict>
			<key>game/common/img/btn_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,359},{101,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,38}</string>
			</dict>
			<key>game/common/img/btn_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,534},{101,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,38}</string>
			</dict>
			<key>game/common/img/btn_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,377},{112,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,35}</string>
			</dict>
			<key>game/common/img/btn_title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,484},{84,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,39}</string>
			</dict>
			<key>game/common/img/record_cell.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,178},{47,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,337}</string>
			</dict>
			<key>game/common/img/title_text_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,630},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,642},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,650},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/title_text_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,664},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>game/common/img/record_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,46},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>game/common/img/record_detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{654,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{654,49}</string>
			</dict>
			<key>game/common/img/record_button_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,354},{243,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,75}</string>
			</dict>
			<key>game/common/img/record_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,377},{243,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,75}</string>
			</dict>
			<key>game/common/img/btn_watchOthers.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,149},{188,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,36}</string>
			</dict>
			<key>game/common/img/bg_editBoxBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,437},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>game/common/img/btn_recordSure.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,187},{174,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,83}</string>
			</dict>
			<key>game/common/img/createRoom_detailBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,451},{66,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,68}</string>
			</dict>
			<key>game/common/img/createRoom_detailIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,431},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>game/common/img/createRoom_detailMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,26},{18,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,14}</string>
			</dict>
			<key>game/common/img/Text_nextDay.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,361},{101,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,38}</string>
			</dict>
			<key>game/common/img/Text_yesterday.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,464},{101,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,38}</string>
			</dict>
			<key>game/common/img/img_smallBgRecharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,186},{108,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,112}</string>
			</dict>
			<key>game/common/img/createRoom_sale.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,576},{52,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,35}</string>
			</dict>
			<key>game/common/img/shareRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,500},{82,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,34}</string>
			</dict>
			<key>game/common/img/create_friend_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,149},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,42}</string>
			</dict>
			<key>game/common/img/create_friend_unSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,296},{112,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,41}</string>
			</dict>
			<key>game/common/img/btn_OpenPosition.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,278},{207,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,81}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CreateRoomPlist0.png</string>
			<key>realTextureFileName</key>
			<string>CreateRoomPlist0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>