<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/common/hlby/hlby_big_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{924,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{924,459}</string>
			</dict>
			<key>game/common/hlby/hlby_btn_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,506},{147,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,42}</string>
			</dict>
			<key>game/common/hlby/hlby_btn_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,506},{145,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,41}</string>
			</dict>
			<key>game/common/hlby/hlby_btn_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,506},{147,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,42}</string>
			</dict>
			<key>game/common/hlby/hlby_lobby_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,692},{85,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>game/common/hlby/hlby_menu_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,270},{244,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,86}</string>
			</dict>
			<key>game/common/hlby/hlby_menu_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1},{267,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,87}</string>
			</dict>
			<key>game/common/hlby/hlby_menu_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,655},{157,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,31}</string>
			</dict>
			<key>game/common/hlby/hlby_menu_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,506},{153,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,26}</string>
			</dict>
			<key>game/common/hlby/hlby_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,462},{217,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,42}</string>
			</dict>
			<key>game/common/hlby/guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,516},{174,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hlbyGamePlist.png</string>
			<key>realTextureFileName</key>
			<string>hlbyGamePlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>